::-moz-selection {
  background: #ff9803;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #ff9803;
  color: #fff;
  text-shadow: none;
}

::-webkit-input-placeholder {
  color: rgba(0,0,0,0.87);
}

:-moz-placeholder {
  color: rgba(0,0,0,0.87);
}

::-moz-placeholder {
  color: rgba(0,0,0,0.87);
}

:-ms-input-placeholder {
  color: rgba(0,0,0,0.87);
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

* {
  min-width: 0;
  min-height: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Gotham Pro Narrow";
  font-weight: 500;
  color: #323232;
  background-color: #fff;
  -webkit-font-feature-settings: kern, liga, onum;
          font-feature-settings: kern, liga, onum;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: inherit;
}

blockquote {
  font-style: normal;
  padding: 15px;
  padding-left: 30px;
  border-left: 5px solid #ff9803;
  background-color: rgba(255,152,3,0.03);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Tobi Dirt Black";
  font-weight: 400;
  color: #ff9803;
  text-transform: uppercase;
}

h1::-moz-selection,
.h1::-moz-selection,
h2::-moz-selection,
.h2::-moz-selection,
h3::-moz-selection,
.h3::-moz-selection,
h4::-moz-selection,
.h4::-moz-selection,
h5::-moz-selection,
.h5::-moz-selection,
h6::-moz-selection,
.h6::-moz-selection {
  background: #ff9803;
  color: #fff;
  text-shadow: none;
}

h1::selection,
.h1::selection,
h2::selection,
.h2::selection,
h3::selection,
.h3::selection,
h4::selection,
.h4::selection,
h5::selection,
.h5::selection,
h6::selection,
.h6::selection {
  background: #ff9803;
  color: #fff;
  text-shadow: none;
}

h1 span,
.h1 span,
h2 span,
.h2 span,
h3 span,
.h3 span,
h4 span,
.h4 span,
h5 span,
.h5 span,
h6 span,
.h6 span {
  color: #422916;
}

h1,
.h1 {
  font-size: 33px;
  line-height: 40px;
}

h2,
.h2 {
  font-size: 30px;
}

h3,
.h3 {
  font-size: 28px;
}

h4,
.h4 {
  font-size: 26px;
}

h5,
.h5,
h6,
.h6 {
  font-size: 25px;
}

.center {
  text-align: center;
}

a {
  color: #ff9803;
  text-decoration: underline;
}

a:hover, a:focus {
  color: false;
  text-decoration: none;
}

template,
[hidden] {
  display: none;
}

.font-thin {
  font-weight: 100;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 900;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

svg:not(:root) {
  overflow: hidden;
}

.main-svg-sprite {
  display: none;
}

.svg-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.svg-icon__spinner {
  fill: inherit;
  width: inherit;
  height: inherit;
  -webkit-animation-name: spinner;
          animation-name: spinner;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.svg-icon__link {
  vertical-align: top;
  fill: inherit;
  width: inherit;
  height: inherit;
}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.gallery {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px 0 0 -15px;
}

.gallery a {
  display: block;
  background-image: none;
}

.gallery img,
.gallery .attachment-thumbnail {
  vertical-align: top;
  width: 100%;
  height: auto;
}

.gallery .gallery-caption {
  padding: 15px 0;
}

.gallery.gallery-columns-1 .gallery-item {
  max-width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-2 .gallery-item {
  max-width: 50%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-3 .gallery-item {
  max-width: 33.333333333333336%;
  -ms-flex-preferred-size: 33.333333333333336%;
      flex-basis: 33.333333333333336%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-4 .gallery-item {
  max-width: 25%;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-5 .gallery-item {
  max-width: 20%;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-6 .gallery-item {
  max-width: 16.666666666666668%;
  -ms-flex-preferred-size: 16.666666666666668%;
      flex-basis: 16.666666666666668%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-7 .gallery-item {
  max-width: 14.285714285714286%;
  -ms-flex-preferred-size: 14.285714285714286%;
      flex-basis: 14.285714285714286%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
  -ms-flex-preferred-size: 12.5%;
      flex-basis: 12.5%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-9 .gallery-item {
  max-width: 11.11111111111111%;
  -ms-flex-preferred-size: 11.11111111111111%;
      flex-basis: 11.11111111111111%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.alignnone {
  margin: 0.5rem;
}

.aligncenter {
  display: block;
  margin: 0.5rem auto;
}

.alignleft {
  float: left;
  margin: 0 30px 30px 0;
}

.alignright {
  float: right;
  margin: 0 0 30px 30px;
}

.wp-caption {
  max-width: 100%;
}

.wp-caption-text {
  padding-top: 5px;
}

.wp-caption img {
  width: 100%;
  height: auto;
}

.gallery-caption,
.wp-caption-text {
  font-size: 90%;
}

@font-face {
  font-family: "Tobi Dirt Black";
  src: url("../fonts/Tobi-Black.eot");
  src: local('☺'), url("../fonts/Tobi-Black.woff") format('woff'), url("../fonts/Tobi-Black.ttf") format('truetype'), url("../fonts/Tobi-Black.svg") format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro Narrow";
  src: url("../fonts/GothamPro.eot");
  src: local('☺'), url("../fonts/GothamPro.woff") format('woff'), url("../fonts/GothamPro.ttf") format('truetype'), url("../fonts/GothamPro.svg") format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro Narrow";
  src: url("../fonts/GothamPro-Bold.eot");
  src: local('☺'), url("../fonts/GothamPro-Bold.woff") format('woff'), url("../fonts/GothamPro-Bold.ttf") format('truetype'), url("../fonts/GothamPro-Bold.svg") format('svg');
  font-weight: 700;
  font-style: normal;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 30px 0;
  background: #ccc;
  color: #000;
  padding: 30px 0;
}

.demo-box {
  background-color: #009688;
  color: #fff;
  text-align: center;
  padding: 30px;
}

.theme-color {
  color: #ff9803;
}

.theme-bgc {
  background-color: #ff9803;
}

.app-footer {
  -ms-flex: none;
      flex: none;
  background: #f90 url("../img/pattern2.png") 0 0 repeat;
  font-family: "Tobi Dirt Black";
  color: #fff;
}

.app-footer__content {
  padding-top: 45px;
  padding-bottom: 65px;
  position: relative;
}

.app-footer__content a {
  color: #fff;
}

.app-footer__logo {
  position: absolute;
  right: 0;
  top: 50px;
}

.app-footer__menu {
  margin-bottom: 40px;
}

.app-footer__menu > ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.app-footer__menu > ul li {
  margin-right: 30px;
}

.app-footer__menu > ul li:last-child {
  margin-right: 0;
}

.app-footer__menu > ul li.is-active > a {
  text-decoration: underline;
}

.app-footer__menu > ul li a {
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.app-footer__menu > ul li a:hover, .app-footer__menu > ul li a:focus {
  text-decoration: underline;
}

.app-footer__contacts {
  display: -ms-flexbox;
  display: flex;
  line-height: 30px;
  font-size: 16px;
}

.app-footer__contacts-cl {
  width: 37%;
}

.app-footer .f-phone {
  font-size: 20px;
}

.app-footer .f-phone a {
  text-decoration: none;
}

.app-footer__b-container {
  background: #fff;
}

.app-footer__b-container-in {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 18px;
  font-family: "Gotham Pro Narrow";
  color: #323232;
  font-size: 13px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
}

.app-footer__b-container-in a {
  color: #323232;
  text-decoration: none;
}

.app-footer__b-container-in a:hover, .app-footer__b-container-in a:focus {
  text-decoration: underline;
}

.app-header {
  -ms-flex: none;
      flex: none;
}

.app-header.inner-header {
  background: #f5f3f4;
}

.app-header__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Tobi Dirt Black";
  position: relative;
  z-index: 2;
}

.app-header__logo {
  margin-right: 90px;
}

.app-header__menu {
  -ms-flex: 1px 1;
      flex: 1px 1;
}

.app-header__menu ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.app-header__menu ul li {
  margin-right: 30px;
}

.app-header__menu ul li.is-active > a {
  color: #ff9803;
}

.app-header__menu ul li a {
  display: block;
  font-size: 20px;
  color: #422916;
  text-decoration: none;
  text-transform: uppercase;
}

.app-header__menu ul li a:hover, .app-header__menu ul li a:focus {
  color: #ff9803;
}

.app-header__menu ul li ul {
  display: none;
}

.app-header__phone {
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 25px;
}

.app-header__phone a {
  color: #422916;
  text-decoration: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  min-height: 100vh;
}

button {
  cursor: pointer;
}

.app {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
}

.app__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
}

.app__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}

.app__content.inner-content {
  padding-top: 63px;
  padding-bottom: 0;
}

.app__content.has-background {
  position: relative;
  padding-top: 133px;
}

.app__content.has-background:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 240px;
  background: url("../img/pl-1.png") center top no-repeat;
  background-size: 100% 100%;
}

.app__main {
  -ms-flex: 1 1;
      flex: 1 1;
}

.app__aside--left {
  -ms-flex-order: -1;
      order: -1;
  -ms-flex: 0 0 300px;
      flex: 0 0 300px;
}

.app__aside--right {
  -ms-flex: 0 0 300px;
      flex: 0 0 300px;
}

.app .s-map {
  margin-bottom: 50px;
}

.advantage {
  background: #ff9803 url("../img/pattern2.png") 0 0 repeat;
  font-family: "Tobi Dirt Black";
  color: #fff;
  position: relative;
  overflow: hidden;
}

.advantage__l-image,
.advantage__r-image {
  position: absolute;
}

.advantage__l-image {
  top: 60px;
  left: 50%;
  margin-left: -550px;
}

.advantage__r-image {
  top: 90px;
  right: 50%;
  margin-right: -550px;
}

.advantage__container {
  max-width: 440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 0;
}

.advantage__list {
  margin: 0 0 27px;
  padding: 0;
  list-style: none;
}

.advantage__list li {
  font-size: 20px;
  margin-bottom: 17px;
  padding-left: 74px;
  position: relative;
}

.advantage__list li:last-child {
  margin-bottom: 0;
}

.advantage__list li .adv-conter {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -19px;
  font-size: 50px;
  line-height: 38px;
}

.advantage__link {
  text-align: center;
}

.advantage__link .button2 {
  border-radius: 30px;
  background: #15a424 url("../img/pattern2.png") 0 0 repeat;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  padding: 12px 50px;
  color: #fff;
}

.advantage__link .button2:hover, .advantage__link .button2:focus {
  background-color: #16ad26;
}

.b-card {
  margin-bottom: 70px;
}

.b-card__container {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.b-card__image-continer {
  -ms-flex: 0 0 338px;
      flex: 0 0 338px;
  margin-right: 58px;
}

.b-card__image {
  min-height: 345px;
  position: relative;
  margin-bottom: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.b-card__image > img {
  max-width: 100%;
  border-radius: 10px;
  position: absolute;
  right: auto;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  visibility: visible;
  transition: all 1s ease;
}

.b-card__image > img + img {
  opacity: 0;
  visibility: hidden;
}

.b-card__image:hover > img, .b-card__image:focus > img {
  opacity: 0;
  visibility: hidden;
}

.b-card__image:hover > img + img, .b-card__image:focus > img + img {
  opacity: 1;
  visibility: visible;
}

.b-card__shilding {
  position: absolute;
  right: -33px;
  top: -15px;
  width: 118px;
  z-index: 1;
}

.b-card__shilding img {
  max-width: 100%;
  opacity: 1;
  visibility: visible;
}

.b-card__thumbnails {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0 -3px;
  list-style: none;
}

.b-card__thumbnails li {
  width: 20%;
  padding: 0 2px 4px;
}

.b-card__thumbnails a {
  height: 64px;
  background: #f5f3f4;
  border-radius: 5px;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.b-card__thumbnails img {
  max-width: 100%;
}

.b-card__desc-container {
  margin-top: -7px;
}

.b-card__desc-container h1 {
  margin-bottom: 18px;
}

.b-card__article {
  margin-bottom: 10px;
  opacity: 0.4;
  color: #232323;
  font-weight: 700;
  line-height: 23px;
}

.b-card__desc {
  font-size: 17px;
  color: #ff7800;
  font-weight: bold;
  margin-bottom: 18px;
}

.b-card__text {
  margin-bottom: 18px;
  font-weight: bold;
}

.b-card__price-btn-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.b-card__price {
  margin-right: 20px;
  color: #323232;
  font-family: "Tobi Dirt Black";
  font-size: 30px;
  font-weight: 400;
  line-height: 23px;
}

.b-card__button {
  outline: none;
  padding: 9px 25px;
  background: #ff7800;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  line-height: 23px;
  text-transform: uppercase;
}

.b-card__button:hover, .b-card__button:focus {
  background: #ff861a;
}

.b-card__button:active {
  background: #e66c00;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

.b-card__params-title {
  text-align: center;
  color: #ff9803;
  font-family: "Tobi Dirt Black";
  font-size: 35px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 70px;
}

.b-card__params-container {
  max-width: 340px;
  margin-bottom: 120px;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.b-card__params-image img {
  max-width: 100%;
}

.b-card__param-item {
  max-width: 245px;
  text-align: center;
  color: #323232;
  font-family: "Tobi Dirt Black";
  font-size: 20px;
  font-weight: 400;
  line-height: 21px;
  position: absolute;
}

.b-card__param-item img {
  position: absolute;
}

.b-card__param-item--lt-1 {
  left: -295px;
  top: 56px;
}

.b-card__param-item--lt-1 img {
  right: -181px;
  top: 30px;
}

.b-card__param-item--lt-2 {
  top: -33px;
  right: -264px;
}

.b-card__param-item--lt-2 img {
  left: -170px;
  bottom: -45px;
}

.b-card__param-item--lt-3 {
  left: -261px;
  bottom: -50px;
}

.b-card__param-item--lt-3 img {
  top: -60px;
  right: -153px;
}

.b-card__param-item--lt-4 {
  right: -392px;
  top: 103px;
}

.b-card__param-item--lt-4 img {
  left: -200px;
  bottom: -7px;
}

.b-card__param-item--lt-5 {
  right: -269px;
  bottom: -50px;
}

.b-card__param-item--lt-5 img {
  top: -60px;
  left: -71px;
}

.b-card__gift-title {
  line-height: 40px;
  text-align: center;
  color: #ff9803;
  font-family: "Tobi Dirt Black";
  font-size: 35px;
  font-weight: 400;
  text-transform: uppercase;
}

.b-card__gift-title span {
  color: #ff5400;
}

.b-gift {
  margin-bottom: 100px;
}

.b-gift__title {
  text-align: center;
  color: #ff9803;
  font-family: "Tobi Dirt Black";
  font-size: 35px;
  font-weight: 400;
  line-height: 44px;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.b-gift__title span {
  display: block;
  color: #ff5400;
}

.b-gift__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.b-gift__item {
  width: 296px;
  height: 234px;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin-right: -89px;
  background: url("../img/gift-bg.png") center center no-repeat;
  background-size: 100% 100%;
}

.b-gift__item:last-child {
  margin-right: 0;
}

.b-gift__item img {
  max-width: 200px;
}

.b-gift__item--it-2 img {
  margin: 0 0 -26px -15px;
}

.b-gift__item--it-3 img {
  margin: 0px 0 -24px -10px;
}

.b-product {
  text-align: center;
  width: 37.778%;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  -ms-flex-direction: column;
      flex-direction: column;
}

.b-product__t-container {
  -ms-flex: 1 1;
      flex: 1 1;
}

.b-product__image {
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  height: 315px;
}

.b-product__image img {
  position: absolute;
  display: block;
  max-width: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: all 1s ease;
}

.b-product__image img + img {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.b-product__image:hover img, .b-product__image:focus img {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.b-product__image:hover img + img, .b-product__image:focus img + img {
  position: relative;
  visibility: visible;
  opacity: 1;
}

.b-product__article {
  font-size: 14px;
  font-weight: 700;
  color: #232323;
  opacity: 0.4;
  margin-bottom: 11px;
}

.b-product__name {
  color: #323232;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 333px;
}

.b-product__name a {
  text-decoration: none;
  color: #323232;
}

.b-product__name a:hover, .b-product__name a:focus {
  text-decoration: underline;
}

.b-product__desc {
  color: #ff7800;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  margin-bottom: 16px;
}

.b-product__price {
  font-size: 25px;
  margin-bottom: 18px;
}

.b-product__price span {
  font-size: 15px;
}

.b-product__buttons {
  margin-left: auto;
  margin-right: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 100%;
  max-width: 222px;
}

.b-product__link {
  padding: 12px 18px;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  border-radius: 3px;
  background: #ff7800;
}

.b-product__link:hover, .b-product__link:focus {
  color: #fff;
  background: #ff8314;
}

.b-product__link:active {
  background: #eb6e00;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

.b-product__buy {
  outline: none;
  color: #ff7800;
  font-family: "Gotham Pro Narrow";
  font-size: 15px;
  font-weight: 700;
  line-height: 23px;
  text-transform: uppercase;
  border: 1px solid #ff7800;
  border-radius: 3px;
  background: none;
  padding: 0 18px;
}

.b-product__buy:hover, .b-product__buy:focus {
  background: #ff7800;
  color: #fff;
}

.b-product__buy:active {
  background: #eb6e00;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

.b-reviews__title {
  text-align: center;
  color: #ff9803;
  font-family: "Tobi Dirt Black";
  font-size: 35px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 93px;
}

.b-reviews__container {
  margin-left: -15px;
  margin-right: -15px;
  -ms-flex-pack: center;
      justify-content: center;
  margin-bottom: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: row;
      flex-direction: row;
}

.b-reviews__item {
  padding: 0 15px 0;
  width: 29%;
}

.b-reviews__item-in {
  background: #fff;
  border-radius: 5px;
  position: relative;
  padding: 80px 20px 113px;
  text-align: center;
  height: 100%;
}

.b-reviews__item-in:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 94px;
  background: url("../img/rev-bg.png") 0 100% no-repeat;
}

.b-reviews__image {
  position: absolute;
  left: 50%;
  margin-left: -57px;
  top: -57px;
  padding: 10px;
  background: url("../img/pattern.png") 0 0 repeat;
  border-radius: 100px;
}

.b-reviews__stars {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-bottom: 25px;
}

.b-reviews__stars span {
  margin: 0 3px;
  width: 21px;
  height: 20px;
}

.b-reviews__stars span.is-active img {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-filter: none;
          filter: none;
}

.b-reviews__stars span img {
  max-width: 100%;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-filter: #808080;
          filter: #808080;
}

.b-reviews__name {
  color: #039f27;
  font-family: "Tobi Dirt Black";
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 3px;
}

.b-reviews__sity {
  color: #ff9803;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
}

.b-reviews__text {
  padding: 22px 0 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
}

.b-reviews__button {
  text-align: center;
}

.b-reviews__button a {
  display: inline-block;
  padding: 12px 52px;
  border-radius: 27px;
  background: #ff7800 url("../img/pattern2.png") 0 0 repeat;
  color: #fff;
  font-family: "Tobi Dirt Black";
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}

.b-reviews__button a:hover, .b-reviews__button a:focus {
  background-color: #ff8314;
}

.b-reviews__button a:active {
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  background-color: #e66c00;
}

.features {
  margin-bottom: 100px;
}

.features__title {
  color: #ff9803;
  font-size: 35px;
  text-transform: uppercase;
  font-family: "Tobi Dirt Black";
  text-align: center;
  margin-bottom: 38px;
}

.features__container {
  max-width: 365px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.features__image img {
  max-width: 100%;
}

.features__item {
  color: #323232;
  font-family: "Tobi Dirt Black";
  font-size: 20px;
  font-weight: 400;
  line-height: 21px;
  max-width: 232px;
  text-align: center;
  position: absolute;
}

.features__item img {
  position: absolute;
}

.features__item--it-1 {
  top: 89px;
  left: -198px;
}

.features__item--it-1 img {
  bottom: -55px;
  right: -140px;
}

.features__item--it-2 {
  top: 83px;
  right: -264px;
}

.features__item--it-2 img {
  left: -170px;
  bottom: -45px;
}

.features__item--it-3 {
  top: 242px;
  left: -247px;
}

.features__item--it-3 img {
  right: -188px;
  bottom: 34px;
}

.features__item--it-4 {
  top: 244px;
  right: -357px;
}

.features__item--it-4 img {
  left: -200px;
  bottom: -7px;
}

.features__item--it-5 {
  bottom: 8px;
  left: -210px;
}

.features__item--it-5 img {
  top: -60px;
  right: -153px;
}

.features__item--it-6 {
  right: -269px;
  bottom: 8px;
}

.features__item--it-6 img {
  top: -60px;
  left: -71px;
}

.gift-reviews {
  background: url("../img/pattern.png") 0 0 repeat;
}

.gift-reviews__container {
  padding-top: 42px;
  padding-bottom: 50px;
}

.animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.owl-animated-out {
  z-index: 1;
}

.owl-animated-in {
  z-index: 0;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.header-main-block {
  position: relative;
}

.header-main-block__icons {
  margin-bottom: 25px;
}

.header-main-block__icons img {
  max-width: 50px;
  margin-right: 20px;
}

.header-main-block__slider {
  position: absolute;
  top: 0;
  max-height: 656px;
  overflow: hidden;
}

.header-main-block__container {
  position: relative;
  z-index: 1;
  padding-top: 75px;
  padding-bottom: 82px;
}

.header-main-block__slogan {
  font-family: "Tobi Dirt Black";
  font-size: 50px;
  color: #ff9803;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.header-main-block__slogan span {
  color: #422916;
  display: block;
  font-size: 40px;
}

.header-main-block__desc {
  margin-bottom: 18px;
  font-size: 20px;
  line-height: 25px;
}

.header-main-block .button1 {
  border-radius: 30px;
  background: #ff9803 url("../img/pattern2.png") 0 0 repeat;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #fff;
  max-width: 212px;
  width: 100%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: "Tobi Dirt Black";
  text-transform: uppercase;
}

.header-main-block .button1:hover, .header-main-block .button1:focus {
  background-color: #ffa729;
}

.header-main-block .owl-stage-outer,
.header-main-block .owl-stage,
.header-main-block .owl-item,
.header-main-block__slider-item {
  height: 100%;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.icons-block__container {
  padding: 99px 0 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.icons-block__item {
  text-align: center;
  margin-bottom: 30px;
  padding: 0 2%;
  width: 30%;
}

.icons-block__image {
  background: url("../img/ic-b-bg.png") center center no-repeat;
  width: 206px;
  height: 160px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.icons-block__text {
  color: #323232;
  font-family: "Tobi Dirt Black";
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
}

input,
textarea {
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  padding: 0 29px 0 29px;
  opacity: 0.6;
  color: #232323;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  outline: none;
}

input:focus,
textarea:focus {
  border-color: #ff9803;
}

input[type="text"],
input[type="mail"],
input[type="password"] {
  height: 50px;
}

textarea {
  padding-top: 12px;
  padding-bottom: 12px;
  min-height: 110px;
}

button {
  outline: none;
  color: #fff;
  font-family: "Tobi Dirt Black";
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  border: 0;
  padding: 12px 25px;
  border-radius: 30px;
  background: #ff9803 url("../img/pattern2.png") 0 0 repeat;
}

button:hover, button:focus {
  background-color: #ffa729;
}

button:active {
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
  background-color: #ed8c00;
}

.k-form {
  margin-bottom: 45px;
}

.k-form__title {
  color: #ff9803;
  font-family: "Tobi Dirt Black";
  font-size: 33px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.k-form__text {
  font-size: 18px;
  margin-bottom: 21px;
}

.k-form__text a {
  text-decoration: none;
}

.k-form__text a:hover, .k-form__text a:focus {
  text-decoration: underline;
}

.k-form__items-container {
  max-width: 490px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.k-form__items-container input,
.k-form__items-container textarea {
  width: 100%;
}

.k-form__item {
  margin-bottom: 20px;
}

.k-form__item.has-error input,
.k-form__item.has-error textarea {
  border-color: #f00;
  margin-bottom: 3px;
}

.k-form__item.has-error .k-form__note {
  color: #f00;
}

.k-form__note {
  text-align: left;
  font-size: 13px;
  font-weight: 500;
}

.k-form__button {
  width: 100%;
  max-width: 272px;
}

.k-form__agreement {
  font-size: 13px;
  font-weight: bold;
}

.m-product-list {
  position: relative;
}

.m-product-list:before {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 242px;
  background: url("../img/pl-1.png") center top no-repeat;
  background-size: 100% 100%;
}

.m-product-list__age-icon {
  position: absolute;
  top: 48px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.m-product-list__content {
  padding-top: 188px;
  padding-bottom: 60px;
}

.m-product-list__title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  font-family: "Tobi Dirt Black";
  color: #422916;
}

.m-product-list__title span {
  color: #ff9803;
}

.m-product-list__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.m-product-list--type-2:before {
  background: url("../img/pl-2.png") center top no-repeat;
  background-size: 100% 100%;
}

.m-product-list--type-2 .m-product-list__title span {
  color: #ff2830;
}

.m-product-list--type-3:before {
  background: url("../img/pl-3.png") center top no-repeat;
  background-size: 100% 100%;
}

.m-product-list--type-3 .m-product-list__title span {
  color: #f3df11;
}

.m-product-list--type-4:before {
  background: url("../img/pl-4.png") center top no-repeat;
  background-size: 100% 100%;
}

.m-product-list--type-4 .m-product-list__title span {
  color: #2bab1f;
}

.mobile-panel {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 280px;
  background: #fff;
  z-index: 3;
  font-family: "Tobi Dirt Black";
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  transition: all 0.3s ease;
  display: none;
}

.mobile-panel.opened {
  box-shadow: -3px 0 12px rgba(0,0,0,0.6);
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-panel .svg-icon {
  width: 36px;
  height: 33px;
  position: absolute;
  left: -55px;
  top: 15px;
  color: #ff9803;
  background: #f5f3f4;
  border: 1px solid #ff9803;
}

.mobile-panel .app-header__menu {
  margin-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #f90;
}

.mobile-panel .app-header__menu ul {
  display: block;
}

.mobile-panel .app-header__menu ul li {
  margin-right: 0;
  margin-bottom: 0;
  border-top: 1px solid #f90;
}

.mobile-panel .app-header__menu ul li a {
  display: block;
  padding: 9px 20px;
}

.mobile-panel .app-header__phone {
  padding-left: 20px;
}

.mobile-panel__content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 280px;
  overflow-y: auto;
}

.page-scroller {
  opacity: 0;
  position: fixed;
  z-index: 1050;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  height: 100vh;
  background-color: rgba(255,152,3,0.1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  transition: opacity 0.16s linear;
  pointer-events: none;
}

.page-scroller__ctrl {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  transition: -webkit-transform 0.25s linear;
  transition: transform 0.25s linear;
  transition: transform 0.25s linear, -webkit-transform 0.25s linear;
  fill: #666;
  width: 24px;
  height: 24px;
}

.page-scroller:hover,
.page-scroller:focus {
  background-color: rgba(255,152,3,0.12);
}

.page-scroller:active {
  background-color: rgba(255,152,3,0.14);
}

.page-scroller--memorized .page-scroller__ctrl {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.page-scroller--memorized,
.page-scroller--visible {
  opacity: 1;
  pointer-events: auto;
}

.s-path {
  opacity: 0.4;
  color: #232323;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  margin-bottom: 20px;
}

.s-path a {
  color: #232323;
  text-decoration: none;
}

.s-path a:hover, .s-path a:focus {
  text-decoration: underline;
}

.m-video {
  background: url("../img/pattern.png") 0 0 repeat;
}

.m-video__content {
  padding-top: 48px;
  padding-bottom: 35px;
}

.m-video__title {
  font-family: "Tobi Dirt Black";
  text-align: center;
  font-size: 35px;
  color: #422916;
  text-transform: uppercase;
  margin-bottom: 55px;
}

.m-video__title span {
  color: #ff9803;
}

.m-video__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.m-video__l-pic {
  padding-top: 32px;
}

.m-video__player {
  margin-bottom: 14px;
}

.m-video__player-desc {
  text-align: center;
  font-size: 20px;
  color: #323232;
  font-weight: 700;
}

.why-we {
  margin-bottom: 70px;
}

.why-we__title {
  margin-bottom: 60px;
  text-align: center;
  color: #422916;
  font-family: "Tobi Dirt Black";
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
}

.why-we__container {
  display: -ms-flexbox;
  display: flex;
}

.why-we__image {
  margin-right: 80px;
  margin-top: -44px;
}

.why-we__list {
  -ms-flex: 1 1;
      flex: 1 1;
  padding: 0;
  margin: 0;
  list-style: none;
}

.why-we__list li {
  margin-bottom: 38px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: #422916;
  font-family: "Tobi Dirt Black";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.why-we__list li:last-child {
  margin-bottom: 0;
}

.why-we__list li span {
  -ms-flex: 1 0 57px;
      flex: 1 0 57px;
  margin-right: 54px;
}

@media (max-width: 1150px) {
  .b-card__params-container {
    width: 190px;
  }

  .b-card__param-item {
    font-size: 17px;
    max-width: 210px;
  }

  .b-card__param-item--lt-1 {
    left: -233px;
    top: 18px;
  }

  .b-card__param-item--lt-1 img {
    right: -98px;
    width: 120px;
  }

  .b-card__param-item--lt-2 {
    right: -156px;
    height: auto;
    top: -51px;
  }

  .b-card__param-item--lt-2 img {
    left: -29px;
    bottom: -40px;
    width: 120px;
  }

  .b-card__param-item--lt-3 {
    left: -201px;
  }

  .b-card__param-item--lt-3 img {
    top: -30px;
    right: -66px;
    width: 110px;
  }

  .b-card__param-item--lt-4 {
    right: -275px;
    top: 56px;
  }

  .b-card__param-item--lt-4 img {
    width: 120px;
    left: -96px;
    bottom: 10px;
  }

  .b-card__param-item--lt-5 {
    right: -217px;
    bottom: -46px;
  }

  .b-card__param-item--lt-5 img {
    width: 100px;
    top: -30px;
    left: -40px;
  }
}

@media (max-width: 1100px) {
  .advantage__l-image {
    max-width: 200px;
    margin-left: -430px;
  }

  .advantage__l-image img {
    max-width: 100%;
  }

  .advantage__r-image {
    max-width: 210px;
    margin-right: -440px;
  }

  .advantage__r-image img {
    max-width: 100%;
  }
}

@media (max-width: 1080px) {
  .features .features__image {
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    max-width: 100%;
  }

  .features__item {
    max-width: 198px;
    font-size: 18px;
  }

  .features__item--it-1 {
    top: 1px;
    left: -156px;
  }

  .features__item--it-2 {
    top: 7px;
    left: 372px;
  }

  .features__item--it-3 {
    top: 120px;
    left: -206px;
  }

  .features__item--it-4 {
    top: 100px;
    right: -270px;
  }

  .features__item--it-5 {
    bottom: -65px;
    left: -173px;
  }

  .features__item--it-6 {
    right: -158px;
    bottom: -64px;
  }
}

@media (max-width: 1024px) {
  .m-video__l-pic {
    width: 48%;
  }

  .m-video__l-pic img {
    max-width: 100%;
  }

  .m-video__player-container {
    width: 48%;
  }

  .m-video__player-container iframe {
    width: 100%;
  }
}

@media (max-width: 960px) {
  .app-header__content {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .app-header__logo {
    max-width: 147px;
    margin-right: 30px;
  }

  .app-header__logo img {
    max-width: 100%;
  }

  .b-card__shilding {
    right: -13px;
  }

  .b-card__image-continer {
    margin-right: 25px;
  }

  .b-product__image {
    height: 264px;
  }
}

@media (max-width: 940px) {
  .why-we__title {
    font-size: 25px;
  }

  .why-we__image {
    width: 200px;
  }

  .why-we__image img {
    max-width: 100%;
  }
}

@media (max-width: 880px) {
  .advantage__list li {
    padding-left: 48px;
    font-size: 18px;
  }

  .advantage__list li .adv-conter {
    font-size: 29px;
  }

  .advantage__r-image {
    margin-right: -382px;
  }
}

@media (max-width: 860px) {
  .app-header__menu ul li a {
    font-size: 17px;
  }

  .app-header__phone {
    font-size: 18px;
  }

  .b-reviews__item {
    width: 33%;
  }

  .features__item--it-1 {
    top: 24px;
    left: -108px;
  }

  .features__item--it-1 img {
    bottom: -28px;
    right: -90px;
    width: 140px;
  }

  .features__item--it-2 {
    top: 23px;
    left: 318px;
  }

  .features__item--it-2 img {
    left: -116px;
    bottom: -22px;
    width: 140px;
  }

  .features__item--it-3 {
    left: -160px;
  }

  .features__item--it-3 img {
    right: -140px;
    width: 130px;
  }

  .features__item--it-4 {
    right: -176px;
  }

  .features__item--it-4 img {
    left: -101px;
    width: 110px;
  }

  .features__item--it-5 {
    bottom: -37px;
    left: -101px;
  }

  .features__item--it-5 img {
    top: -37px;
    right: -81px;
    width: 140px;
  }

  .features__item--it-6 {
    right: -158px;
    bottom: -42px;
  }

  .features__item--it-6 img {
    top: -39px;
    width: 140px;
  }
}

@media (max-width: 820px) {
  .b-card h1,
  .b-card .h1 {
    font-size: 25px;
  }

  .b-card__params-image {
    position: relative;
    margin-bottom: 30px;
  }

  .b-card__params-container {
    width: auto;
    margin-bottom: 80px;
  }

  .b-card__param-item {
    margin-bottom: 20px;
    position: relative;
    max-width: 320px;
    width: auto;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
  }

  .b-card__param-item img {
    display: none;
  }
}

@media (max-width: 800px) {
  .app-footer__menu {
    display: block;
  }

  .app-footer__menu ul {
    -ms-flex-pack: center;
        justify-content: center;
  }

  .app-footer__menu li {
    margin: 0 10px 10px;
  }

  .app-footer__logo {
    position: relative;
  }

  .app-footer__contacts {
    display: block;
    margin-bottom: 30px;
  }

  .app-footer__contacts-cl {
    width: auto;
  }

  .app-footer__contacts-cl,
  .app-footer__contacts-cr {
    text-align: center;
  }

  .app-footer__logo {
    top: auto;
    right: auto;
    text-align: center;
  }

  .app-footer__logo img {
    max-width: 100%;
  }
}

@media (max-width: 769px) {
  .app__content.has-background:before {
    height: 180px;
  }

  .b-product {
    width: 50%;
    padding: 0 20px;
    margin-bottom: 20px;
  }

  .b-product__image {
    height: 212px;
  }

  .m-product-list__age-icon {
    width: 140px;
    top: 20px;
  }

  .m-product-list__age-icon img {
    max-width: 100%;
  }

  .m-product-list__content {
    padding-top: 130px;
    padding-bottom: 40px;
  }

  .m-product-list__title {
    font-size: 25px;
  }

  .m-product-list__container {
    margin-left: -20px;
    margin-right: -20px;
    -ms-flex-pack: center;
        justify-content: center;
  }

  .m-product-list:before {
    height: 180px;
  }
}

@media (max-width: 768px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .app-header__content {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .b-gift__title {
    font-size: 25px;
  }

  .b-reviews__title {
    font-size: 25px;
  }

  .features {
    margin-bottom: 40px;
  }

  .features__title {
    font-size: 25px;
  }

  .header-main-block__slogan {
    font-size: 36px;
  }

  .header-main-block__slogan span {
    font-size: 31px;
  }

  .mobile-panel {
    display: block;
  }

  .m-video__title {
    font-size: 29px;
  }
}

@media (max-width: 766px) {
  .why-we:before {
    height: 180px;
  }

  .why-we__image {
    margin-top: 0;
    margin-right: 25px;
  }
}

@media (max-width: 760px) {
  .icons-block__container {
    display: block;
    padding-top: 40px;
    padding-bottom: 0;
  }

  .icons-block__item {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 55px;
  }
}

@media (max-width: 750px) {
  .advantage__l-image,
  .advantage__r-image {
    display: none;
  }

  .advantage__list li {
    text-align: center;
    padding-left: 0;
    margin-bottom: 30px;
  }

  .advantage__list li .adv-conter {
    line-height: 1;
    margin: 0;
    position: relative;
    display: block;
  }

  .advantage__container {
    padding: 33px 25px 40px;
  }
}

@media (max-width: 740px) {
  .b-gift__item {
    width: 250px;
    height: 220px;
    overflow: hidden;
  }

  .b-gift__item--it-2 img {
    margin: 0px 0 -11px -13px;
  }
}

@media (max-width: 690px) {
  .features__item {
    max-width: 154px;
    font-size: 14px;
  }

  .features__item--it-1 {
    top: 38px;
    left: -11px;
  }

  .features__item--it-1 img {
    bottom: -11px;
    right: -35px;
    width: 85px;
  }

  .features__item--it-2 img {
    width: 100px;
    left: -70px;
    bottom: -12px;
  }

  .features__item--it-3 {
    left: -74px;
  }

  .features__item--it-3 img {
    right: -95px;
    width: 95px;
  }

  .features__item--it-4 {
    right: -114px;
  }

  .features__item--it-4 img {
    left: -101px;
    bottom: 11px;
  }

  .features__item--it-5 {
    bottom: -18px;
    left: -59px;
  }

  .features__item--it-5 img {
    top: -20px;
    width: 100px;
  }

  .features__item--it-6 {
    right: -72px;
    bottom: -27px;
  }

  .features__item--it-6 img {
    top: -18px;
    width: 100px;
    left: -27px;
  }
}

@media (max-width: 650px) {
  .b-card__params-title {
    margin-bottom: 25px;
  }

  .b-card__container {
    display: block;
  }

  .b-card__image-continer {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .b-card__image {
    height: 622px;
    min-height: 622px;
  }

  .b-card__image img {
    width: 100%;
    max-width: auto;
  }

  .b-card h1,
  .b-card .h1 {
    text-align: center;
  }

  .b-card__desc-container {
    text-align: center;
  }

  .b-card__price-btn-container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    -ms-flex-pack: center;
        justify-content: center;
  }
}

@media (max-width: 640px) {
  .b-reviews__item {
    padding-left: 10px;
    padding-right: 10px;
  }

  .m-video__container {
    display: block;
  }

  .m-video__title {
    margin-bottom: 0;
  }

  .m-video__l-pic,
  .m-video__player-container {
    width: 100%;
  }

  .m-video__l-pic {
    text-align: center;
    margin-bottom: 40px;
  }

  .m-video__player-container iframe {
    height: 333px;
  }
}

@media (max-width: 630px) {
  .app-footer ul {
    display: block;
    text-align: center;
  }

  .app-footer ul li {
    margin: 0 10px 10px;
  }

  .app-footer__b-container-in {
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .app-footer__b-container-in a {
    display: inline-block;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .why-we__container {
    display: block;
  }

  .why-we__image {
    text-align: center;
    margin-bottom: 30px;
    width: auto;
  }

  .why-we__list li {
    font-size: 17px;
  }

  .why-we__list li span {
    margin-right: 24px;
  }
}

@media (max-width: 590px) {
  .b-product__buttons {
    display: block;
  }

  .b-product__link {
    display: block;
    margin-bottom: 10px;
  }

  .b-product__buy {
    padding-top: 9px;
    padding-bottom: 9px;
    width: 100%;
    display: block;
  }
}

@media (max-width: 580px) {
  .b-reviews__container {
    margin-left: 0;
    margin-right: 0;
  }

  .b-reviews__item {
    margin-bottom: 110px;
    width: 100%;
    max-width: 291px;
    padding-left: 0;
    padding-right: 0;
  }

  .b-reviews__item:last-child {
    margin-bottom: 30px;
  }

  .features__image {
    margin-bottom: 30px;
  }

  .features__item {
    max-width: 100%;
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    margin-bottom: 20px;
  }

  .features__item--it-1 img,
  .features__item--it-2 img,
  .features__item--it-3 img,
  .features__item--it-4 img,
  .features__item--it-5 img,
  .features__item--it-6 img {
    display: none;
  }
}

@media (max-width: 540px) {
  .app-header__content {
    display: block;
    padding-top: 12px;
  }

  .app-header__logo {
    max-width: 100%;
    text-align: center;
    margin-right: 0;
  }

  .b-gift {
    margin-bottom: 0;
  }

  .b-gift__container {
    display: block;
    margin-bottom: 70px;
  }

  .b-gift__item {
    width: 296px;
    height: 234px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }

  .b-gift__item:last-child {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }

  .header-main-block__icons,
  .header-main-block__slogan,
  .header-main-block__desc,
  .header-main-block__link {
    text-align: center;
  }

  .header-main-block__icons img {
    margin-left: 5px;
    margin-right: 5px;
  }

  .mobile-panel {
    right: auto;
    left: 0;
    -webkit-transform: translateX(-280px);
            transform: translateX(-280px);
  }

  .mobile-panel.opened {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    box-shadow: 3px 0 12px rgba(0,0,0,0.6);
  }

  .mobile-panel .svg-icon {
    left: auto;
    right: -55px;
  }
}

@media (max-width: 500px) {
  .b-product {
    padding: 0 10px;
  }

  .b-product__image {
    height: 165px;
  }

  .b-product__container {
    margin-left: 0;
    margin-rght: 0;
  }

  .m-product-list__container {
    margin-left: -10px;
    margin-right: -10px;
  }
}

@media (max-width: 480px) {
  .icons-block__item {
    width: 100%;
  }
}

@media (max-width: 445px) {
  .b-card__image {
    height: auto;
    min-height: 414px;
  }
}

@media (max-width: 425px) {
  .b-card__image {
    height: auto;
    min-height: 370px;
  }
}

@media (max-width: 420px) {
  .header-main-block__container {
    padding-bottom: 39px;
  }
}

@media (max-width: 414px) {
  .app-footer__content {
    padding-bottom: 30px;
  }
}

@media (max-width: 380px) {
  .b-card__image {
    min-height: 344px;
  }

  .b-product {
    padding: 0;
    width: 100%;
    margin-bottom: 60px;
  }

  .b-product__image {
    height: 277px;
  }

  .m-product-list__content {
    padding-bottom: 0;
  }

  .why-we__list li {
    text-align: center;
    display: block;
  }

  .why-we__list li span {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
}

@media (max-width: 320px) {
  .b-card__image {
    height: auto;
    min-height: 273px;
  }
}