.b-product
	text-align center
	width 37.778%
	display flex
	margin-bottom 60px
	flex-direction column
	&__t-container
		flex 1
	&__image
		margin-bottom 10px
		position relative
		overflow hidden
		height 315px
		img			
			position absolute
			display block
			max-width 100%
			left 50%
			top 50%
			transform translate(-50%, -50%) 
			transition all 1s ease					
			+ img
				position absolute
				visibility hidden
				opacity 0
		&:hover
			img 
				position absolute 
				visibility hidden
				opacity 0
				+ img
					position relative
					visibility visible
					opacity 1
			
	&__article
		font-size 14px
		font-weight 700
		color #232323
		opacity 0.4
		margin-bottom 11px
		
	&__name	
		color #323232
		font-size 14px
		font-weight 700		
		line-height 19px
		margin-bottom 15px
		margin-left auto
		margin-right auto
		max-width 333px
		a
			text-decoration none
			color #323232
			&:hover
				text-decoration underline
		
	&__desc
		color #ff7800
		font-size 14px
		font-weight 700
		line-height 17px
		margin-bottom 16px
		
	&__price
		font-size 25px
		margin-bottom 18px
		span
			font-size 15px
			
	&__buttons
		margin-left auto
		margin-right auto
		display flex
		justify-content space-between
		width 100%
		max-width 222px
		
	&__link
		padding 12px 18px
		color #fff
		text-decoration none
		font-size 13px
		font-weight 700
		border-radius 3px
		background #ff7800
		&:hover
			color #fff
			background lighten(#ff7800, 8%)
		&:active
			background darken(#ff7800, 8%)
			box-shadow inset 0 1px 2px rgba(0,0,0,0.3)
			
	&__buy
		outline none
		color #ff7800
		font-family "Gotham Pro Narrow"
		font-size 15px
		font-weight 700
		line-height 23px
		text-transform uppercase
		border 1px solid #ff7800
		border-radius 3px
		background none
		padding 0 18px
		&:hover
			background #ff7800
			color #fff
		&:active
			background darken(#ff7800, 8%)
			box-shadow inset 0 1px 2px rgba(0,0,0,0.3)
		
	@media (max-width 960px) 
		&__image
			height 264px
	
	@media (max-width 769px) 
		width 50%
		padding 0 20px
		margin-bottom 20px
		&__image
			height 212px
		
	@media (max-width 590px) 		
		&__buttons
			display block
		&__link
			display block
			margin-bottom 10px
		&__buy
			padding-top 9px
			padding-bottom 9px
			width 100%
			display block
			
	@media (max-width 500px) 
		padding 0 10px
		&__image		
			height 165px
			
		&__container
			margin-left 0
			margin-rght 0

	@media (max-width 380px) 
		padding 0
		width 100%
		margin-bottom 60px
		&__image
			height 277px