<form block="b-product">
	<div elem="t-container">
		<div elem="image">
			<img src="img/pr-pic1.jpg" alt="">
			<img src="img/pr-pic1-h.jpg" alt="">
		</div>
		<div elem="article">Артикул А301</div>
		<div elem="name"><a href="#">Подушка дорожная AUTOFOX с подголовником для детей от 0 до 2 лет</a></div>
	</div>
	<div elem="b-container">
		<div elem="price">1500 <span>руб.</span></div>
		<div elem="buttons">
			<a href="#" elem="link">Подробнее</a>
			<button elem="buy">Купить</button>
		</div>
	</div>
</form>