.features
    margin-bottom 100px
    &__title
        color #ff9803
        font-size 35px
        text-transform uppercase
        font-family "Tobi Dirt Black"
        text-align center
        margin-bottom 38px
    &__container
        max-width 365px
        margin-left auto
        margin-right auto
        position relative
    &__image
        img 
            max-width 100%
    &__item
        color #323232
        font-family "Tobi Dirt Black"
        font-size 20px
        font-weight 400
        line-height 21px
        max-width 232px
        text-align center
        position absolute
        img
            position absolute
        &--it-1        
            top 89px
            left -198px
            img
                bottom -55px
                right -140px
        &--it-2  
            top 83px
            right -264px
            img 
                left -170px
                bottom -45px
        &--it-3              
            top 242px
            left -247px                
            img 
                right -188px
                bottom 34px
        &--it-4              
            top 244px
            right -357px                
            img 
                left -200px
                bottom -7px
        &--it-5             
            bottom 8px 
            left -210px
            img
                top -60px
                right -153px
        &--it-6         
            right -269px    
            bottom 8px
            img
                top -60px
                left -71px                
                
    @media (max-width 1080px) 
        .features__image
            margin-left auto            
            margin-right auto            
            width 55%
            max-width 100%
        &__item
            max-width 198px
            font-size 18px
            &--it-1
                top 1px
                left -156px
            &--it-2
                top 7px
                left 372px
            &--it-3
                top 120px
                left -206px          
            &--it-4
                top 100px
                right -270px
            &--it-5
                bottom -65px                
                left -173px
            &--it-6
                right -158px
                bottom -64px
                
    @media (max-width 860px) 
        &__item
            &--it-1 
                top 24px
                left -108px
                img
                    bottom -28px 
                    right -90px
                    width 140px
            &--it-2 
                top 23px
                left 318px
                img
                    left -116px
                    bottom -22px
                    width 140px
            &--it-3
                left -160px 
                img
                    right -140px
                    width 130px
            &--it-4
                right -176px
                img
                    left -101px
                    width 110px
            &--it-5
                bottom -37px
                left -101px
                img
                    top -37px
                    right -81px
                    width 140px
            &--it-6
                right -158px
                bottom -42px
                img
                    top -39px 
                    width 140px
                    
    @media (max-width 768px) 
        margin-bottom 40px
        &__title
            font-size 25px
    @media (max-width 690px) 
        &__item
            max-width 154px
            font-size 14px
            &--it-1 
                top 38px
                left -11px                
                img
                    bottom -11px
                    right -35px
                    width 85px
            &--it-2 
                img
                    width 100px
                    left -70px
                    bottom -12px
            &--it-3
                left -74px
                img
                    right -95px
                    width 95px
            &--it-4 
                right -114px 
                img
                    left -101px
                    bottom 11px
                    
            &--it-5 
                bottom -18px
                left -59px
                img
                    top -20px
                    width 100px
            &--it-6 
                right -72px                
                bottom -27px
                img
                    top -18px
                    width 100px
                    left -27px
                    
    @media (max-width 580px) 
        &__image
            margin-bottom 30px
        &__item
            max-width 100%
            position relative
            left auto
            right auto
            top auto
            bottom auto
            margin-bottom 20px
            &--it-1, 
            &--it-2, 
            &--it-3, 
            &--it-4, 
            &--it-5, 
            &--it-6 
                img
                    display none