<div block="features" mix="block:container">
	<div elem="title">Конструктивные особенности и материалы</div>
	<div elem="container">
		<div elem="image"><img src="img/f-image.png" alt=""></div>
		<div elem="item" mods="it-1">
			Углубление для комфортной фиксации затылка
			<img src="img/f-arr1.svg" alt="">
		</div>
		<div elem="item" mods="it-2">
			Верхнее покрытие - велюр 80% хлопок, 20% полиэстер
			<img src="img/f-arr2.svg" alt="">
		</div>
		<div elem="item" mods="it-3">
			Диаметр рассчитан под объем шеи ребенка соответствующего возраста
			<img src="img/f-arr3.svg" alt="">
		</div>
		<div elem="item" mods="it-4">
			Оборотная сторона - сатин 100% хлопок
			<img src="img/f-arr4.svg" alt="">
		</div>		
		<div elem="item" mods="it-5">
			Объемные лапы и магнит для надежной фиксации подбородка
			<img src="img/f-arr5.svg" alt="">
		</div>
		<div elem="item" mods="it-6">
			Наполнитель Холлофай-бер, гипоаллергенный, сохраняет объем
			<img src="img/f-arr6.svg" alt="">
		</div>
	</div>
</div>