.icons-block
	&__container
		padding 99px 0 40px
		display flex
		justify-content center
		flex-wrap wrap
	&__item	
		text-align center
		margin-bottom 30px
		padding 0 2%
		width 30%
	&__image
		background url(../img/ic-b-bg.png) center center no-repeat
		width 206px
		height 160px
		display flex
		align-items center
		justify-content center
		margin-bottom 30px
		margin-left auto
		margin-right auto
	&__text
		color #323232
		font-family "Tobi Dirt Black"
		font-size 25px
		font-weight 400
		line-height 30px
		
	@media (max-width 760px) 
		&__container
			display block
			padding-top 40px
			padding-bottom 0
		&__item
			width 50%
			margin-left auto
			margin-right auto
			margin-bottom 55px
			
	@media (max-width 480px) 
		&__item
			width 100%