<div block="icons-block">
	<div elem="container" mix="block:container">
		<div elem="item">
			<div elem="image"><img src="img/ic-b1.svg" alt=""></div>
			<div elem="text">Качество <br> материалов</div>
		</div>
		<div elem="item">
			<div elem="image"><img src="img/ic-b2.svg" alt=""></div>
			<div elem="text">Вся продукция сертифицированна</div>
		</div>
		<div elem="item">
			<div elem="image"><img src="img/ic-b3.svg" alt=""></div>
			<div elem="text">Индивидуальный подход</div>
		</div>
	</div>
</div>