.app-header
    flex none
    &.inner-header
        background #f5f3f4
    &__content
        display flex 
        align-items center
        padding-top 40px    
        padding-bottom 40px    
        font-family "Tobi Dirt Black"
        position relative     
        z-index 2
        
    &__logo 
        margin-right 90px    
        
    &__menu
        flex 1px
        ul
            display flex
            flex-wrap wrap
            li 
                margin-right 30px
                &.is-active
                    > 
                        a
                            color $colorPrimary
                a 
                    display block
                    font-size 20px
                    color $colorAccent                    
                    text-decoration none
                    text-transform uppercase
                    &:hover
                        color $colorPrimary
                
                ul    
                    display none
    &__phone
        align-self center
        font-size 25px
        a 
            color $colorAccent
            text-decoration none
    
    @media (max-width 960px) 
        &__content
            padding-top 14px
            padding-bottom 14px
        &__logo
            max-width 147px
            margin-right 30px
            img
                max-width 100%
                
    @media (max-width 860px) 
        &__menu 
            ul 
                li 
                    a
                        font-size 17px
        &__phone
            font-size 18px
    
    @media (max-width 768px) 
        &__content
            padding-top 13px
            padding-bottom 13px
            
    @media (max-width 540px) 
        &__content
            display block
            padding-top 12px
        &__logo            
            max-width 100%
            text-align center
            margin-right 0