<header block="app-header" mix="block:mt-4" {% if mainPage == false %} class="inner-header"{% endif %}>
    <div elem="content" mix="block:container" class="_js_header-height">
    	<div elem="logo">
    		<a href="#"><img src="img/logo.png" alt=""></a>
    	</div>
		<nav elem="menu">
			<ul>
				{% for item in menuTop %}
				<li{% if item.subLevelClass == true %} class="has-sublevel"{% endif %}{% if item.activeClass == true %} class="is-active"{% endif %}>
					<a href="#">{{item.name}}</a>
				</li>
				{% endfor %}
			</ul>
		</nav>
		{% if headerPhone == true %}
		<div elem="phone"><a href="tel:8 (000) 000 00 00">8 (000) 000 00 00</a></div>
    	{% endif %}
    </div>
    {% if mainPage == true %}
    {% include 'header-slider.html' %}
    {% endif %}
</header><!-- b:app-header -->