
.animated  {
  -webkit-animation-duration : 1000 ms  ;
  animation-duration : 1000 ms  ;
  -webkit-animation-fill-mode : both  ;
  animation-fill-mode : both  ;
}  

.owl-animated-out {
  z-index : 1 
}

.owl-animated-in {
  z-index : 0 
}

.fadeOut  {
  -webkit-animation-name : fadeOut  ;
  animation-name : fadeOut  ;
}  
@-webkit-keyframes  fadeOut  {
  0% {
    opacity : 1   ;
  }  
  100% {
    opacity : 0   ;
  }  
}
@keyframes  fadeOut  {
  0% {
    opacity : 1   ;
  }  
  100% {
    opacity : 0   ;
  }  
}

.header-main-block 
    position relative
    &__icons
        margin-bottom 25px
        img
            max-width 50px
            margin-right 20px
    &__slider
        position absolute
        top 0
        max-height 656px
        overflow hidden
    &__container
        position relative
        z-index 1
        padding-top 75px
        padding-bottom 82px
    &__slogan        
        font-family "Tobi Dirt Black"
        font-size 50px
        color $colorPrimary
        line-height 50px
        text-transform uppercase
        margin-bottom 18px
        span
            color $colorAccent
            display block
            font-size 40px
    &__desc
        margin-bottom 18px
        font-size 20px
        line-height 25px
        
    .button1
        border-radius 30px 
        background $colorPrimary url(../img/pattern2.png) 0 0 repeat
        padding-top 12px
        padding-bottom 12px
        color #fff
        max-width 212px
        width 100%
        display inline-block
        text-align center
        text-decoration none
        font-size 20px
        font-family "Tobi Dirt Black"
        text-transform uppercase
        &:hover
            background-color lighten($colorPrimary, 15%)
            
    .owl-stage-outer,
    .owl-stage,
    .owl-item,
    &__slider-item
        height 100%
        
    @media (max-width 768px) 
        &__slogan
            font-size 36px
            span
                font-size 31px

    @media (max-width 540px) 
        &__icons,
        &__slogan,
        &__desc,
        &__link
            text-align center
        
        &__icons    
            img
                margin-left 5px
                margin-right 5px
    
        
    @media (max-width 420px) 
        &__container
            padding-bottom 39px