<div block="header-main-block">
	<div elem="slider" class="_js_header-slider owl-carousel">
		{#<img src="img/slide1.jpg" alt=""/>
		<img src="img/slide2.jpg" alt=""/>
		<img src="img/slide3.jpg" alt=""/>
		<img src="img/slide4.jpg" alt=""/>
		<img src="img/slide5.jpg" alt=""/>#}
		<div elem="slider-item" style="background-image: url(img/slide1.jpg); background-position: right top; background-size: cover;" ></div>
		<div elem="slider-item" style="background-image: url(img/slide2.jpg); background-position: right top; background-size: cover;"></div>
		<div elem="slider-item" style="background-image: url(img/slide3.jpg); background-position: right top; background-size: cover;"></div>
		<div elem="slider-item" style="background-image: url(img/slide4.jpg); background-position: right top; background-size: cover;"></div>
		<div elem="slider-item" style="background-image: url(img/slide5.jpg); background-position: right top; background-size: cover;"></div>
	</div>
	<div elem="container"  mix="block:container">
		<div elem="icons">
			<img src="img/sl-ico1.png" alt="">
			<img src="img/sl-ico2.png" alt="">
			<img src="img/sl-ico3.png" alt="">
		</div>
		<div elem="slogan">
			Лучший друг
			<span>юного путешественника</span>
		</div>	
		<div elem="desc">
			Дорожные анатомические подушки для комфортного 
			<br>
			сна ребенка во время поездки
		</div>	
		<div elem="link">
			<a href="#" class="button1">Купить</a>
		</div>
	</div>
</div>