<div block="b-gift">
	<div elem="title">Мешок для хранения и стирки <span>в подарок!</span></div>
	<div elem="container">
		<div elem="item" mods="it-1"><img src="img/gift1.png" alt=""></div>
		<div elem="item" mods="it-2"><img src="img/gift2.png" alt=""></div>
		<div elem="item" mods="it-3"><img src="img/gift3.png" alt=""></div>
	</div>
</div>