.b-gift
	margin-bottom 100px
	&__title
		text-align center
		color #ff9803
		font-family "Tobi Dirt Black"
		font-size 35px
		font-weight 400
		line-height 44px
		text-transform uppercase
		margin-bottom 22px
		span
			display block
			color #ff5400
	&__container
		display flex
		justify-content center
	
	&__item
		width 296px
		height 234px
		overflow hidden
		display flex
		align-items center
		justify-content center
		margin-right -89px
		background url(../img/gift-bg.png) center center no-repeat
		background-size 100% 100%

		&:last-child
			margin-right 0
		img
			max-width 200px
		&--it-2		
			img
				margin 0 0 -26px -15px
		&--it-3		
			img
				margin 0px 0 -24px -10px
	@media (max-width 768px) 
		&__title
			font-size 25px
			
	@media (max-width 740px) 
		&__item
			width 250px
			height 220px
			overflow hidden
			&--it-2
				img
					margin 0px 0 -11px -13px
	@media (max-width 540px) 
		margin-bottom 0
		&__container
			display block
			margin-bottom 70px
		&__item
			width 296px
			height 234px
			margin-right auto
			margin-left auto
			margin-bottom 20px
			&:last-child
				margin-left auto
				margin-right auto
				margin-bottom 0
		