@font-face
	font-family: "Tobi Dirt Black";
	src: url('../fonts/Tobi-Black.eot');
	src: local('☺'), url('../fonts/Tobi-Black.woff') format('woff'), url('../fonts/Tobi-Black.ttf') format('truetype'), url('../fonts/Tobi-Black.svg') format('svg');
	font-weight: 400;
	font-style: normal;

@font-face
	font-family: "Gotham Pro Narrow";
	src: url('../fonts/GothamPro.eot');
	src: local('☺'), url('../fonts/GothamPro.woff') format('woff'), url('../fonts/GothamPro.ttf') format('truetype'), url('../fonts/GothamPro.svg') format('svg');
	font-weight: 500;
	font-style: normal;

@font-face
	font-family: "Gotham Pro Narrow";
	src: url('../fonts/GothamPro-Bold.eot');
	src: local('☺'), url('../fonts/GothamPro-Bold.woff') format('woff'), url('../fonts/GothamPro-Bold.ttf') format('truetype'), url('../fonts/GothamPro-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;