.mobile-panel
	position fixed
	right 0
	top 0
	bottom 0
	width 280px
	background #fff
	z-index 3
	font-family "Tobi Dirt Black"
	transform translateX(100%) 
	transition all .3s ease
	display none
	&.opened
		box-shadow -3px 0 12px rgba(0,0,0,0.6) 
		transform translateX(0) 
	.svg-icon
		width 36px
		height 33px
		position absolute
		left -55px
		top 15px
		color $colorPrimary
		background #f5f3f4
		border 1px solid $colorPrimary
		
	.app-header__menu	
		margin-bottom 20px
		padding-top 20px
		border-bottom 1px solid #ff9900
		ul
			display block
			li
				margin-right 0
				margin-bottom 0
				border-top 1px solid #ff9900
				a 
					display block
					padding 9px 20px
	.app-header__phone
		padding-left 20px

	&__content
		position absolute
		top 0
		left 0
		bottom 0
		width 280px
		overflow-y auto

	@media (max-width 768px) 
		display block

	@media (max-width 540px) 
		right auto
		left 0
		transform translateX(-280px) 
		&.opened
			transform translateX(0) 
			box-shadow 3px 0 12px rgba(0,0,0,0.6)
	
		.svg-icon
			left auto
			right -55px 
	
				