.advantage
    background $colorPrimary url(../img/pattern2.png) 0 0 repeat
    font-family "Tobi Dirt Black"
    color #fff
    position relative
    overflow hidden
    &__l-image,
    &__r-image
        position absolute
        
    &__l-image
        top 60px
        left 50%
        margin-left -550px
    &__r-image
        top 90px
        right 50%
        margin-right -550px

    &__container
        max-width 440px
        width 100%
        margin-left auto
        margin-right auto
        padding 60px 0
    &__list
        margin 0 0 27px
        padding 0
        list-style none
        
        li 
            font-size 20px
            margin-bottom 17px
            padding-left 74px
            position relative
            &:last-child
                margin-bottom 0
            .adv-conter    
                position absolute
                left 0
                top 50%
                margin-top -19px
                font-size 50px
                line-height 38px
                

    &__link
        text-align center
        .button2        
            border-radius 30px
            background #15a424 url(../img/pattern2.png) 0 0 repeat
            display inline-block
            text-decoration none
            text-transform uppercase
            font-size 20px
            padding 12px 50px
            color #fff
            &:hover
                background-color lighten(#15a424, 3%)

    @media (max-width 1100px)
        &__l-image
            max-width 200px
            margin-left -430px
            img
                max-width 100%
        &__r-image
            max-width 210px
            margin-right -440px
            img
                max-width 100%
            
    @media (max-width 880px)
        &__list 
            li
                padding-left 48px
                font-size 18px
                .adv-conter
                    font-size 29px
        &__r-image
            margin-right -382px
            
    @media (max-width 750px)
        &__l-image,
        &__r-image
            display none
            
        &__list
            li
                text-align center
                padding-left 0
                margin-bottom 30px
                .adv-conter
                    line-height 1
                    margin 0
                    position relative
                    display block
        &__container
            padding 33px 25px 40px
