<div block="advantage">
	<div elem="l-image"><img src="img/adv-l.png" alt=""></div>
	<div elem="r-image"><img src="img/adv-r.png" alt=""></div>
	<div elem="container">
		<div elem="list">
			<li elem="item"><span class="adv-conter">01</span>Разработанно экспертами в ортопедии</li>
			<li elem="item"><span class="adv-conter">02</span>В конструкции учтены анатомические особенности ребенка в соответствии с возрастом</li>
			<li elem="item"><span class="adv-conter">03</span>Голова во время сна не падает вперед,а комфортно фиксируется</li>
		</div>
		<div elem="link">
			<a href="#" class="button2">Узнать больше</a>
		</div>
	</div>
</div>