<footer block="app-footer">
    <div elem="content" mix="block:container mt-3 mb-3">
		<nav elem="menu">
			<ul>
				{% for item in menuTop %}
				<li{% if item.subLevelClass == true %} class="has-sublevel"{% endif %}{% if item.activeClass == true %} class="is-active"{% endif %}>
					<a href="#">{{item.name}}</a>
				</li>
				{% endfor %}
			</ul>
		</nav>
		<div elem="contacts">
			<div elem="contacts-cl">
				График работы: с 08 до 22 часов
				<br>
				E-mail: autofox@mail.ru
				<br>
				Skype: autofox
				<br>
				ICQ: 555-55-55
			</div>
			<div elem="contacts-cr">
				г. Город
				<br>
				<span class="f-phone"><a href="tel:8 (000) 000 00 00">8 (000) 000 00 00</a></span>
			</div>
		</div>	
		<div elem="logo">
			<a href="#"><img src="img/logo-bot.png" alt=""></a>
		</div>
    </div><!-- e:content -->
    <div elem="b-container">
    	<div elem="b-container-in" mix="block:container">
    		© 2018 AUTOFOX
    		<a href="#">Политика обработки персональных данных</a>
    		<a href="#">Chillicode</a>
    	</div>
    </div>
</footer><!-- b:app-footer -->
