.app-footer
    flex none
    background #ff9900 url(../img/pattern2.png) 0 0 repeat
    font-family "Tobi Dirt Black"
    color #fff
    &__content
        padding-top 45px
        padding-bottom 65px
        position relative
        a
            color #fff
    &__logo
        position absolute
        right 0
        top 50px
    &__menu
        margin-bottom 40px
        > ul
            display flex
            flex-wrap wrap
            
            li 
                margin-right 30px
                &:last-child
                    margin-right 0
                    
                &.is-active
                    > 
                        a 
                            text-decoration underline
                                
                a
                    text-transform uppercase
                    font-size 20px
                    color #fff
                    text-decoration none
                    &:hover
                        text-decoration underline
    &__contacts
        display flex
        line-height 30px
        font-size 16px
    &__contacts-cl
        width 37%
    .f-phone
        font-size 20px
        a 
            text-decoration none
    &__b-container
        background #fff
    &__b-container-in
        display flex
        justify-content space-between
        padding-top 25px
        padding-bottom 18px
        font-family "Gotham Pro Narrow"
        color #323232
        font-size 13px
        font-weight 700
        line-height 32px
        text-transform uppercase
        a             
            color #323232
            text-decoration none
            &:hover
                text-decoration underline
    @media (max-width 800px) 
        &__menu 
            display block
            ul
                justify-content center
            li
                margin 0 10px 10px
                
        &__logo
            position relative
        &__contacts 
            display block
            margin-bottom 30px
        &__contacts-cl
            width auto        
        &__contacts-cl,        
        &__contacts-cr    
            text-align center
        &__logo
            top auto
            right auto
            text-align center
            img
                max-width 100%
            
    @media (max-width 630px) 
        ul
            display block
            text-align center
            li
                margin 0 10px 10px
        &__b-container-in            
            justify-content center
            align-items center
            flex-direction column
            a
                display inline-block
                text-align center
        
    @media (max-width 414px) 
        &__content
            padding-bottom 30px