<div block="b-card" mix="block:container">
	<div elem="container">
		<div elem="image-continer">
			<div elem="image">
				<div elem="shilding"><img src="img/age-icon2.png" alt=""></div>
				<img elem="image1" src="img/b-card-image.jpg" alt="">
				<img elem="image2" src="img/b-card-image-h.jpg" alt="">
			</div>
			<ul elem="thumbnails">
				<li><a href="#"><img src="img/b-c-thumb1.png" alt=""></a></li>
				<li><a href="#"><img src="img/b-c-thumb2.png" alt=""></a></li>
				<li><a href="#"><img src="img/b-c-thumb3.png" alt=""></a></li>
				<li><a href="#"><img src="img/b-c-thumb4.png" alt=""></a></li>
				<li><a href="#"><img src="img/b-c-thumb5.png" alt=""></a></li>
			</ul>
		</div>
		<div elem="desc-container">
			<h1>Подушка дорожная AUTOFOX для детей от 2 до 4 лет</h1>
			<div elem="article">Артикул А305</div>
			<div elem="desc">Для кресла с усиленным подголовником</div>
			<div elem="text">
				<p>Подушка разработана экспертами в ортопедии, с учетом анатомических особенностей ребенка данного возраста. Голова вовремя сна не«падает»вперед, а комфортно фиксируется подушкой.</p>

				<p>Поверхность подушки выполнена из натуральны материалов,имеющих в составе хлопок.</p>

				<p>В комплекте удобная сумка для транспортиовки, хранения и стирки.</p>
			</div>
			<div elem="price-btn-container">
				<div elem="price">1500 руб.</div>
				<button elem="button" class="button2">Купить</button>
			</div>
		</div>
	</div>
	<div elem="params">
		<div elem="params-title">Конструктивные особенности и материалы</div>
		<div elem="params-container">
			<div elem="params-image"><img src="img/b-c-param-image.png" alt=""></div>
			<div elem="param-item" mods="lt-1">
				Диаметр рассчитан под объем шеи ребенка соответствующего возраста
				<img src="img/f-arr3.svg" alt="">
			</div>			
			<div elem="param-item" mods="lt-2">
				Верхнее покрытие - велюр 80% хлопок, 20% полиэстер
				<img src="img/f-arr2.svg" alt="">
			</div>			
			<div elem="param-item" mods="lt-3">
				Объемные лапы и магнит для надежной фиксации подбородка
				<img src="img/f-arr5.svg" alt="">
			</div>			
			<div elem="param-item" mods="lt-4">
				Оборотная сторона - сатин 100% хлопок
				<img src="img/f-arr4.svg" alt="">
			</div>			
			<div elem="param-item" mods="lt-5">
				Наполнитель Холлофай-бер, гипоаллергенный, сохраняет объем
				<img src="img/f-arr6.svg" alt="">
			</div>
		</div>
	</div>	
	<div elem="gift-title">Мешок для хранения и стирки <br> <span>в подарок!</span></div>
</div>