.b-card
    margin-bottom 70px
    &__container
        display flex
        margin-bottom 40px
    &__image-continer
        flex 0 0 338px
        margin-right 58px
    &__image 
        min-height 345px
        position relative
        margin-bottom 20px
        display flex
        justify-content center
        align-items  center
        > img
            max-width 100%
            border-radius 10px
            position absolute
            right auto
            left 50%
            top 50%
            transform translate(-50%, -50%) 
            opacity 1
            visibility visible
            transition all 1s ease
            + img 
                opacity 0
                visibility hidden
        &:hover
            > img
                opacity 0
                visibility hidden
                + img
                    opacity 1
                    visibility visible
            
    &__shilding
        position absolute
        right -33px
        top -15px
        width 118px
        z-index 1
        img 
            max-width 100%
            opacity 1
            visibility visible
            
    &__thumbnails
        display flex
        flex-wrap wrap
        padding 0
        margin 0 -3px
        list-style none
        li
            width 20%
            padding 0 2px 4px
        a 
            height 64px
            background #f5f3f4
            border-radius 5px
            text-decoration none
            display flex
            align-items center
            justify-content center
        img     
            max-width 100%
            
    &__desc-container
        margin-top -7px
        h1
            margin-bottom 18px
    &__article
        margin-bottom 10px
        opacity 0.4
        color #232323
        font-weight 700
        line-height 23px
        
    &__desc
        font-size 17px
        color #ff7800
        font-weight bold
        margin-bottom 18px
        
    &__text
        margin-bottom 18px
        font-weight bold
    
    &__price-btn-container
        display flex
        align-items center
        
    &__price
        margin-right 20px
        color #323232
        font-family "Tobi Dirt Black"
        font-size 30px
        font-weight 400
        line-height 23px
    &__button
        outline none
        padding 9px 25px
        background #ff7800
        border 0
        border-radius 3px
        color #fff
        font-size 15px
        font-weight 700
        line-height 23px
        text-transform uppercase
        &:hover
            background lighten(#ff7800, 10%)
        &:active
            background darken(#ff7800, 10%)
            box-shadow inset 0 1px 2px rgba(0,0,0,0.3)
            
    &__params-title
        text-align center
        color #ff9803
        font-family "Tobi Dirt Black"
        font-size 35px
        font-weight 400
        text-transform uppercase
        margin-bottom 70px
        
    &__params-container
        max-width 340px
        margin-bottom 120px
        position relative
        text-align center
        margin-left auto
        margin-right auto
        
    &__params-image
        img 
            max-width 100%
    &__param-item
        max-width 245px
        text-align center
        color #323232
        font-family "Tobi Dirt Black"
        font-size 20px
        font-weight 400
        line-height 21px
        position absolute
        img 
            position absolute

        &--lt-1
            left -295px
            top 56px
            img
                right -181px
                top 30px
                
        &--lt-2
            top -33px
            right -264px
            img
                left -170px
                bottom -45px
        &--lt-3
            left -261px
            bottom -50px
            img
                top -60px
                right -153px
        &--lt-4
            right -392px
            top 103px
            img
                left -200px
                bottom -7px
        &--lt-5
            right -269px
            bottom -50px
            img
                top -60px
                left -71px
    &__gift-title
        line-height 40px
        text-align center
        color #ff9803
        font-family "Tobi Dirt Black"
        font-size 35px
        font-weight 400
        text-transform uppercase
        span
            color #ff5400
            
    @media (max-width 1150px) 
        &__params-container
            width 190px
        &__param-item
            font-size 17px
            max-width 210px
            &--lt-1    
                left -233px
                top 18px
                img
                    right -98px
                    width 120px                    
            &--lt-2  
                right -156px  
                height auto
                top -51px
                img
                    left -29px
                    bottom -40px
                    width 120px
            &--lt-3  
                left -201px
                img
                    top -30px
                    right -66px
                    width 110px
    
            &--lt-4
                right -275px
                top 56px
                img 
                    width 120px
                    left -96px
                    bottom 10px
            &--lt-5
                right -217px
                bottom -46px
                img
                    width 100px
                    top -30px
                    left -40px
    
    @media (max-width 960px) 
        &__shilding
            right -13px
        &__image-continer
            margin-right 25px
    

    @media (max-width  820px) 
        h1, .h1
            font-size 25px
        &__params-image
            position relative
            margin-bottom 30px
        &__params-container
            width auto
            margin-bottom 80px
        &__param-item
            margin-bottom 20px
            position relative
            max-width 320px
            width auto
            top auto 
            right auto
            left auto
            bottom auto
            img
                display none
    @media (max-width  650px) 
        &__params-title
            margin-bottom 25px
        &__container
            display block
        &__image-continer
            margin-right 0
            margin-bottom 30px
        &__image
            height 622px            
            min-height 622px
            img 
                width 100%
                max-width auto    
        h1, .h1        
            text-align center
        &__desc-container
            text-align center
        &__price-btn-container
            text-align center
            margin-left auto
            margin-right auto
            justify-content center
    @media (max-width 425px)         
        &__image
            height auto
            min-height 370px
    
    @media (max-width 445px)   
        &__image
            height auto
            min-height 414px
          
    @media (max-width 380px)         
        &__image
            min-height 344px        
    
    @media (max-width 320px)         
        &__image
            height auto
            min-height 273px

