<div block="why-we">
	<div elem="title">Почему наш продукция качественная</div>
	<div elem="container">
		<div elem="image"><img src="img/w-image.png" alt=""></div>
		<ul elem="list">
			<li><span><img src="img/w-icon1.svg" alt=""></span>Подушка разработана экспертами в ортопедии, с учетом анатомических особенностей ребенка данного возраста.</li>
			<li><span><img src="img/w-icon2.svg" alt=""></span>Голова вовремя сна не«падает»вперед, а комфортно фиксируется подушкой.</li>
			<li><span><img src="img/w-icon3.svg" alt=""></span>Поверхность подушки выполнена из натуральных материалов, имеющих в составе хлопок.</li>
			<li><span><img src="img/w-icon4.svg" alt=""></span>В комплекте удобная сумка для транспортиовки, хранения и стирки.</li>
		</ul>
	</div>
</div>