.why-we
	margin-bottom 70px
	
	&__title
		margin-bottom 60px
		text-align center
		color $colorAccent
		font-family "Tobi Dirt Black"
		font-size 28px
		font-weight 400
		text-transform uppercase
		
	&__container
		display flex
		
	&__image
		margin-right 80px
		margin-top -44px	
		
	&__list	
		flex 1
		padding 0
		margin 0
		list-style none
		li
			margin-bottom 38px
			display flex
			align-items center
			color #422916
			font-family "Tobi Dirt Black"
			font-size 20px
			font-weight 400
			line-height 24px
			&:last-child
				margin-bottom 0
			span
				flex 1 0 57px
				margin-right 54px

	@media (max-width 940px) 	
		&__title
			font-size 25px
		&__image			
			width 200px
			img 
				max-width 100%
	@media (max-width 766px) 	
		&:before
			height 180px
		&__image			
			margin-top 0
			margin-right 25px
	@media (max-width 600px) 	
		&__container
			display block
		&__image
			text-align center
			margin-bottom 30px
			width auto
		&__list 
			li 
				font-size 17px
				span
					margin-right 24px
					
	@media (max-width 380px) 	
		&__list 
			li
				text-align center
				display block
				span
					display block
					text-align center 
					margin-bottom 20px