.m-product-list
	position relative
	&:before
		z-index -1
		content ""
		position absolute
		left 0
		top 0
		right 0
		height 242px
		background url(../img/pl-1.png) center top no-repeat
		background-size 100% 100%
	&__age-icon
		position absolute
		top 48px
		left 50%
		transform translateX(-50%) 
	&__content	
		padding-top 188px
		padding-bottom 60px
	&__title
		margin-bottom 30px
		text-align center
		font-size 35px
		text-transform uppercase
		font-family "Tobi Dirt Black"
		color $colorAccent
		span
			color $colorPrimary
	&__container
		display flex
		justify-content space-evenly
		flex-wrap wrap
	
	&--type-2
		&:before
			background url(../img/pl-2.png) center top no-repeat
			background-size 100% 100%
		& ^[0]
			&__title
				span 
					color #ff2830
					
	&--type-3
		&:before
			background url(../img/pl-3.png) center top no-repeat
			background-size 100% 100%
		& ^[0]
			&__title
				span 
					color #f3df11
					
	&--type-4
		&:before
			background url(../img/pl-4.png) center top no-repeat
			background-size 100% 100%
		& ^[0]
			&__title
				span 
					color #2bab1f
	@media (max-width 769px) 
		&__age-icon
			width 140px
			top 20px
			img
				max-width 100%
		&__content
			padding-top 130px	
			padding-bottom 40px
		&__title
			font-size 25px
		&__container
			margin-left -20px
			margin-right -20px
			justify-content center
			
		&:before
			height 180px			
	
	@media (max-width 500px) 
		&__container
			margin-left -10px
			margin-right -10px
			
	@media (max-width 380px) 
		&__content
			padding-bottom 0