<div block="m-product-list">
	<div elem="age-icon"><img src="img/age-icon.png" alt=""></div>
	<div elem="content" mix="block:container">
		<div elem="title">Для детей от <span>0 до 2 лет</span></div>
		<div elem="container">
			{% include 'b-product.html' %}
		</div>
	</div>
</div>

<div block="m-product-list" mods="type-2">
	<div elem="age-icon"><img src="img/age-icon2.png" alt=""></div>
	<div elem="content" mix="block:container">
		<div elem="title">Для детей от <span>2 до 4 лет</span></div>
		<div elem="container">
			<form block="b-product">
				<div elem="t-container">
					<div elem="image">
						<img src="img/pr-pic2.jpg" alt="">
						<img src="img/pr-pic2-h.png" alt="">
					</div>
					<div elem="article">Артикул А301</div>
					<div elem="name"><a href="#">Подушка дорожная AUTOFOX с подголовником для детей от 2 до 4 лет</a></div>
					<div elem="desc">Для кресла с ровной высокой спинкой без усиленного подголовника</div>
				</div>
				<div elem="b-container">
					<div elem="price">1500 <span>руб.</span></div>
					<div elem="buttons">
						<a href="#" elem="link">Подробнее</a>
						<button elem="buy">Купить</button>
					</div>
				</div>
			</form>
			<form block="b-product">
				<div elem="t-container">
					<div elem="image">
						<img src="img/pr-pic3.jpg" alt="">
						<img src="img/pr-pic3-h.jpg" alt="">
					</div>
					<div elem="article">Артикул А301</div>
					<div elem="name"><a href="#">Подушка дорожная AUTOFOX для детей от 2 до 4 лет</a></div>
					<div elem="desc">Для кресла с усиленным подголовником</div>
				</div>
				<div elem="b-container">
					<div elem="price">1500 <span>руб.</span></div>
					<div elem="buttons">
						<a href="#" elem="link">Подробнее</a>
						<button elem="buy">Купить</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div block="m-product-list" mods="type-3">
	<div elem="age-icon"><img src="img/age-icon3.png" alt=""></div>
	<div elem="content" mix="block:container">
		<div elem="title">Для детей от <span>4 до 8 лет</span></div>
		<div elem="container">
			<form block="b-product">
				<div elem="t-container">
					<div elem="image">
						<img src="img/pr-pic4.jpg" alt="">
						<img src="img/pr-pic4-h.jpg" alt="">
					</div>
					<div elem="article">Артикул А301</div>
					<div elem="name"><a href="#">Подушка дорожная AUTOFOX с подголовником для детей от 4 до 8 лет</a></div>
					<div elem="desc">Для кресла с ровной высокой спинкой без усиленного подголовника</div>
				</div>
				<div elem="b-container">
					<div elem="price">1500 <span>руб.</span></div>
					<div elem="buttons">
						<a href="#" elem="link">Подробнее</a>
						<button elem="buy">Купить</button>
					</div>
				</div>
			</form>
			<form block="b-product">
				<div elem="t-container">
					<div elem="image">
						<img src="img/pr-pic5.jpg" alt="">
						<img src="img/pr-pic5-h.jpg" alt="">
					</div>
					<div elem="article">Артикул А301</div>
					<div elem="name"><a href="#">Подушка дорожная AUTOFOX для детей от 4 до 8 лет</a></div>
					<div elem="desc">Для кресла с усиленным подголовником</div>
				</div>
				<div elem="b-container">
					<div elem="price">1500 <span>руб.</span></div>
					<div elem="buttons">
						<a href="#" elem="link">Подробнее</a>
						<button elem="buy">Купить</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div block="m-product-list" mods="type-4">
	<div elem="age-icon"><img src="img/age-icon4.png" alt=""></div>
	<div elem="content" mix="block:container">
		<div elem="title">Для детей от <span>8 лет</span></div>
		<div elem="container">
			<form block="b-product">
				<div elem="t-container">
					<div elem="image">
						<img src="img/pr-pic6.jpg" alt="">
						<img src="img/pr-pic6-h.jpg" alt="">
					</div>
					<div elem="article">Артикул А301</div>
					<div elem="name"><a href="#">Подушка дорожная AUTOFOX с подголовником для детей старше 8 лет</a></div>
					<div elem="desc">Для кресла с ровной высокой спинкой без усиленного подголовника</div>
				</div>
				<div elem="b-container">
					<div elem="price">1500 <span>руб.</span></div>
					<div elem="buttons">
						<a href="#" elem="link">Подробнее</a>
						<button elem="buy">Купить</button>
					</div>
				</div>
			</form>
			<form block="b-product">
				<div elem="t-container">
					<div elem="image">
						<img src="img/pr-pic7.jpg" alt="">
						<img src="img/pr-pic7-h.jpg" alt="">
					</div>
					<div elem="article">Артикул А301</div>
					<div elem="name"><a href="#">Подушка дорожная AUTOFOX для детей от 4 до 8 лет</a></div>
					<div elem="desc">Для кресла с усиленным подголовником</div>
				</div>
				<div elem="b-container">
					<div elem="price">1500 <span>руб.</span></div>
					<div elem="buttons">
						<a href="#" elem="link">Подробнее</a>
						<button elem="buy">Купить</button>
					</div>
				</div>
			</form>
			<form block="b-product">
				<div elem="t-container">
					<div elem="image">
						<img src="img/pr-pic8.jpg" alt="">
						<img src="img/pr-pic8-h.jpg" alt="">
					</div>
					<div elem="article">Артикул А301</div>
					<div elem="name"><a href="#">Подушка дорожная AUTOFOX для детей от 4 до 8 лет</a></div>
					<div elem="desc">Для кресла с усиленным подголовником</div>
				</div>
				<div elem="b-container">
					<div elem="price">1500 <span>руб.</span></div>
					<div elem="buttons">
						<a href="#" elem="link">Подробнее</a>
						<button elem="buy">Купить</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>