<div block="m-video">
	<div elem="content" mix="block:container">
		<div elem="title">Семья <span>Autofox:</span> выбери себе друга!</div>
		<div elem="container">
			<div elem="l-pic"><img src="img/v-pic-l.png" alt=""></div>
			<div elem="player-container">
				<div elem="player">
					<iframe width="510" height="267" src="https://www.youtube.com/embed/zVTKmbOVzQk?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
				<div elem="player-desc">Посмотри видеоинструкцию</div>
			</div>
		</div>
	</div>
</div>