.m-video
	background url(../img/pattern.png) 0 0 repeat
	&__content
		padding-top 48px
		padding-bottom 35px
	&__title
		font-family "Tobi Dirt Black"
		text-align center
		font-size 35px
		color $colorAccent
		text-transform uppercase
		margin-bottom 55px
		span 
			color $colorPrimary
	&__container
		display flex
		justify-content space-between
	&__l-pic
		padding-top 32px
	&__player
		margin-bottom 14px
	&__player-desc
		text-align center
		font-size 20px
		color #323232
		font-weight 700

	@media (max-width 1024px) 
		&__l-pic
			width 48%
			img
				max-width 100%
		&__player-container
			width 48%
			iframe
				width 100%
				
	@media (max-width 768px) 
		&__title
			font-size 29px
	
	@media (max-width 640px) 
		&__container
			display block
		&__title
			margin-bottom 0
			
		&__l-pic,
		&__player-container
			width 100%
			
		&__l-pic
			text-align center
			margin-bottom 40px
			
		&__player-container
			iframe
				height 333px
