<form block="k-form" class="center">
	<div elem="title">Свяжитесь с нами по любым вопросам</div>

	<div elem="text">
		<p>Мы всегда рады Вашим письмам, <br>предложениям и отзывам</p>
		<p>Бесплатный звонок по России: 8-800 000-00-00</p>
		<a href="mailto:autofox@mail.ru">autofox@mail.ru</a>
	</div>

	<div elem="items-container">
		<div elem="item">
			<input type="text" placeholder="Ваше имя">	
		</div>
		<!--Если ошибка
		<div elem="item" class="has-error">
			<input type="text" placeholder="test">	
			<div elem="note">test test test</div>
		</div>
		-->
		<div elem="item">
			<input type="text" placeholder="Ваш номер телефона">	
		</div>
		<div elem="item">
			<textarea placeholder="Текст"></textarea>						
		</div>
		<button elem="button">ОТПРАВИТЬ</button>
	</div>

	<div elem="agreement">Нажимая на кнопку, вы даете согласие на обработку персональных данных и <br> соглашаетесь c политикой конфиденциальности</div>

</form>