input,
textarea
    border 1px solid #e0e0e0
    border-radius 3px
    padding 0 29px 0 29px
    opacity 0.6
    color #232323
    font-size 14px
    font-weight 700
    line-height 24px
    outline none
    &:focus
        border-color $colorPrimary
        
input[type="text"],
input[type="mail"],
input[type="password"]
    height 50px
    
textarea
    padding-top 12px
    padding-bottom 12px
    min-height 110px

button
    outline none
    color #fff
    font-family "Tobi Dirt Black"
    font-size 20px
    font-weight 400
    text-transform uppercase
    border 0
    padding 12px 25px
    border-radius 30px
    background $colorPrimary url(../img/pattern2.png) 0 0 repeat
    &:hover
        background-color lighten($colorPrimary, 15%)    
    &:active
        box-shadow inset 0 1px 2px rgba(0,0,0,0.20)
        background-color darken($colorPrimary, 8%)

.k-form
    margin-bottom 45px
    &__title
        color #ff9803
        font-family "Tobi Dirt Black"        
        font-size 33px
        font-weight 400
        line-height 40px
        text-transform uppercase
        margin-bottom 23px
    &__text
        font-size 18px
        margin-bottom 21px
        a
            text-decoration none
            &:hover
                text-decoration underline
                
    &__items-container
        max-width 490px
        margin-left auto
        margin-right auto
        margin-bottom 30px
        input,
        textarea
            width 100%
            
    &__item
        margin-bottom 20px
        &.has-error
            input,
            textarea
                border-color red
                margin-bottom 3px
            
            & ^[0]
                &__note
                    color red
    &__note
        text-align left
        font-size 13px
        font-weight 500        
        
    &__button
        width 100%
        max-width 272px
        
    &__agreement
        font-size 13px
        font-weight bold
        