html,
body
    margin 0
    padding 0

html
    min-height 100%
    min-height 100vh

button
    cursor pointer

.app
    
    display flex
    flex-direction column
    height 100%
    height 100vh

    &__wrapper
        display flex
        flex-direction column
        height 100%
        height 100vh

    &__content
        display flex
        flex 1 0 auto
        
        &.inner-content
            padding-top 63px
            padding-bottom 0
        &.has-background
            position relative
            padding-top 133px
            &:before
                content ""
                position absolute
                left 0
                top 0
                right 0
                height 240px
                background url(../img/pl-1.png) center top no-repeat
                background-size 100% 100%
                @media (max-width 769px) 
                    height 180px
                
    &__main
        flex 1

    &__aside
        
        &--left
            order -1
            flex : 0 0 300px
            
        &--right
            flex : 0 0 300px
            
    .s-map
        margin-bottom 50px
