= yaml =
pageTitle: О нас
bodyMods: 
bodyClasses: ''
scrollFixClasses: ''
contentClasses: 'container'
asideLeft: false
asideRight: false
layout: !!map
    header : true
    footer : true
    left : false
    right : false
= yaml =

{% set contentContainerClass = false %}
{% set headerPhone = true %}
{% set mainPage = false %}
{% set hasBg = true %}
{% extends '_layout.html' %}

{% block main %}
<div elem="main-inner" mix="block:container">
	<h1 class="h1 center">Лучший друг <br><span>юного путешественника</span></h1>
	<p class="center"><b>Дорожные анатомические подушки для комфортного сна ребенка во время поездки</b></p>
	<br>
	<br>

	{% include 'why-we.html' %}

	<h2 class="center"><span>о компании</span> TRELAX</h2>
	<div class="center">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet maximus sapien, non rhoncus ligula. In non sollicitudin lectus. Quisque venenatis, lacus a aliquet dignissim, orci mi fringilla libero, sed aliquet neque tellus at justo. Donec commodo maximus finibus.</p>

		<p>Nulla rutrum arcu hendrerit euismod dictum. Nullam vel rutrum nulla, in pellentesque neque.</p>

		<p>Nullam dictum eros sit amet pellentesque eleifend. In venenatis porttitor odio, efficitur commodo purus. Maecenas rutrum leo sit amet nisl luctus, id vehicula lectus tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lorem lorem, mattis ut vestibulum id, rhoncus et sem.</p>
	</div>
	<br>
	<br>
</div>
{% endblock %}