= yaml =
pageTitle: Main Page
bodyMods: demo
bodyClasses: ''
scrollFixClasses: ''
contentClasses: 'container'
asideLeft: false
asideRight: false
layout: !!map
    header : true
    footer : true
    left : false
    right : false
= yaml =

{% set contentContainerClass = true %}
{% extends '_layout.html' %}

{% block main %}

<div class="align-items-center justify-content-center h-100" style="display:flex;">
    <div block="demo-intro">
        <h1 class="display-4">
           H1 {{ app.package.name | capitalize}} v{{ app.package.version }}
        </h1>
        <h2 class="display-4">
           H2 {{ app.package.name | capitalize}} v{{ app.package.version }}
        </h2>
        <h3 class="display-4">
            H3 {{ app.package.name | capitalize}} v{{ app.package.version }}
        </h3>
        <h4 class="display-4">
            H4 {{ app.package.name | capitalize}} v{{ app.package.version }}
        </h4>
        <h5 class="display-4">
            H5 {{ app.package.name | capitalize}} v{{ app.package.version }}
        </h5>
        <h6 class="display-4">
            H6 {{ app.package.name | capitalize}} v{{ app.package.version }}
        </h6>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid assumenda natus ad cupiditate, ipsum nemo molestiae, culpa, minus ea dolorum perferendis. Pariatur, autem numquam debitis, ex similique nemo nulla excepturi?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid assumenda natus ad cupiditate, ipsum nemo molestiae, culpa, minus ea dolorum perferendis. Pariatur, autem numquam debitis, ex similique nemo nulla excepturi?
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia pariatur commodi expedita delectus beatae rem tempore,    dolorem maxime sit corporis cupiditate quisquam fuga fugiat veritatis explicabo, a officiis odio enim.
        </p>
        <blockquote class="blockquote">
            Все эти инновации, о которых сейчас трубят на каждом углу — чушь собачья. Кто угодно может заниматься инновациями. <span class="m-link">«Думать иначе»</span> и всё такое… к чёрту. Это бессмысленно. 99 процентов успеха — это проделанная работа.
            <footer class="blockquote-footer">
                Конференция <a rel="noreferrer, nofollow" target="_blank" href="https://www.theregister.co.uk/2017/02/14/the_government_is_coming_for_your_code/">Open Source Leadership Summit</a> <cite title="Линус Торвальдс">Линус Торвальдс</cite>
            </footer>
        </blockquote>

        <div block="image-block">            
            {% for item in imageBlock %}
                <div elem="item">
                    <div elem="pic">
                        <img src="{{item.pic}}" alt="">
                    </div>
                    <div elem="title">{{item.title}}</div>  
                    <div elem="desc">{{item.desc}}</div>    
                </div>
            {% endfor %}
        </div>

        <form block="s-form" mods="{{form.mod}}" action="post">
            <div elem="title">{{form.name}}</div>
            <div elem="container">
            {% for item in form.items  %}

            {% if  item.type == 'text' %}
            <div elem="item" mods="{% if  item.mod != '' %}{{item.mod}}{% endif %}" {% if  item.error == true %}mix="block:has-error"{% endif %}>
                <div elem="item-name">{{item.name}}{% if  item.required == true %} <span>*</span>{% endif %}</div>
                <div elem="item-field">
                    <input type="text" {% if  item.required == true %}required{% endif %} placeholder="{{item.name}}">
                </div>
                {% if  item.note != '' %}
                <div elem="item-note">{{item.note}}</div>
                {% endif %}
            </div>
            {% endif %}

            {% if  item.type == 'textarea' %}
            <div elem="item" mods="{% if  item.mod != '' %}{{item.mod}}{% endif %}" {% if  item.error == true %}mix="block:has-error"{% endif %}>
                <div elem="item-name">{{item.name}}</div>
                <div elem="item-field">
                    <textarea {% if  item.required == true %}required{% endif %} placeholder="{{item.name}}"></textarea>
                </div>
                {% if  item.note != '' %}
                <div elem="item-note">{{item.note}}</div>
                {% endif %}
            </div>
            {% endif %}

            {% if  item.type == 'select' %}
            <div elem="item" mods="{% if  item.mod != '' %}{{item.mod}}{% endif %}" {% if  item.error == true %}mix="block:has-error"{% endif %}>
                <div elem="item-name">{{item.name}}</div>   
                <div elem="item-field">             
                    <select>
                        {% for option in item.options %}
                        <option label="{{option.name}}">{{option.name}}</option>
                        {% endfor %}
                    </select>              
                </div>          
                {% if  item.note != '' %}
                <div elem="item-note">{{item.note}}</div>
                {% endif %}        
            </div>
            {% endif %}

            {% if  item.type == 'textBlock' %}
            <div elem="item" mods="{% if  item.mod != '' %}{{item.mod}}{% endif %}" {% if  item.error == true %}mix="block:has-error"{% endif %}>
                <div elem="item-name">{{item.name}}</div>                
                <div elem="item-text">{{item.text}}</div>
            </div>
            {% endif %}

            {% if  item.type == 'radio' %}
            <div elem="item" mods="{% if  item.mod != '' %}{{item.mod}}{% endif %}" {% if  item.error == true %}mix="block:has-error"{% endif %}>
                <div elem="item-name">{{item.name}}</div>                
                <div elem="item-field">
                    <input type="radio" name="name" value="1">
                    <input type="radio" name="name" value="2">
                    <input type="radio" name="name" value="3">
                </div>
                {% if  item.note != '' %}
                <div elem="item-note">{{item.note}}</div>
                {% endif %}
            </div>
            {% endif %}

            {% if  item.type == 'checkbox' %}
            <div elem="item" mods="{% if  item.mod != '' %}{{item.mod}}{% endif %}" {% if  item.error == true %}mix="block:has-error"{% endif %}>
                <input type="checkbox" {% if  item.required == true %}required{% endif %}>
                {{item.name}}
            </div>
            {% endif %}
            {% endfor %}
            <div elem="item" mods="button-container">
                <button elem="button">Отправить</button>
            </div>
            </div>
        </form>

    </div>
</div><!-- b:demo-intro -->

{% endblock %}
