= yaml =
pageTitle: Контакты
bodyMods: 
bodyClasses: ''
scrollFixClasses: ''
contentClasses: 'container'
asideLeft: false
asideRight: false
layout: !!map
    header : true
    footer : true
    left : false
    right : false
= yaml =

{% set contentContainerClass = false %}
{% set headerPhone = true %}
{% set reviews = true %}
{% set mainPage = false %}

{% extends '_layout.html' %}

{% block main %}
<div elem="main-inner" mix="block:container">
	{% include 'path.html' %}
	<h1>Контакты</h1>

	<div block="s-map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d42742.883274531756!2d37.585382695982204!3d55.734246753376425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54b1ccad4e033%3A0x399d0644857afff7!2z0YPQuy4g0J_Rj9GC0L3QuNGG0LrQsNGPLCDQnNC-0YHQutCy0LAsINCg0L7RgdGB0LjRjw!5e0!3m2!1sru!2s!4v1536914083841" width="100%" height="394" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>

	{% include 'k-form.html' %}
</div>
<div block="gift-reviews" mods="f-w">
	<div elem="container" mix="block:container">
		{% include 'b-reviews.html' %}
	</div>
</div>

{% endblock %}