<div block="b-reviews">
	<div elem="title">Отзывы</div>
	<div elem="container">
		<div elem="item">
			<div elem="item-in">
				<div elem="image"><img src="img/rev-pic1.png" alt=""></div>
				<div elem="stars">
					<span class="is-active"><img src="img/star.png" alt=""></span>
					<span class="is-active"><img src="img/star.png" alt=""></span>
					<span class="is-active"><img src="img/star.png" alt=""></span>
					<span class="is-active"><img src="img/star.png" alt=""></span>
					<span class="is-active"><img src="img/star.png" alt=""></span>
				</div>	
				<div elem="name">Иван Иваныч</div>	
				<div elem="sity">г. Москва</div>	
				<div elem="text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore aliqua.
				</div>
			</div>
		</div>
		<div elem="item">
			<div elem="item-in">
				<div elem="image"><img src="img/rev-pic2.png" alt=""></div>
				<div elem="stars">
					<span class="is-active"><img src="img/star.png" alt=""></span>
					<span class="is-active"><img src="img/star.png" alt=""></span>
					<span class="is-active"><img src="img/star.png" alt=""></span>
					<span class="is-active"><img src="img/star.png" alt=""></span>
					<span><img src="img/star.png" alt=""></span>
				</div>	
				<div elem="name">Дарья Донцова</div>	
				<div elem="sity">г. Москва</div>	
				<div elem="text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore aliqua.
				</div>
			</div>
		</div>
		<div elem="item">
			<div elem="item-in">
				<div elem="image"><img src="img/rev-pic3.png" alt=""></div>
				<div elem="stars">
					<span class="is-active"><img src="img/star.png" alt=""></span>
					<span class="is-active"><img src="img/star.png" alt=""></span>
					<span class="is-active"><img src="img/star.png" alt=""></span>
					<span><img src="img/star.png" alt=""></span>
					<span><img src="img/star.png" alt=""></span>
				</div>	
				<div elem="name">Василиса Прекрасная</div>	
				<div elem="sity">г. Москва</div>	
				<div elem="text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore aliqua.
				</div>
			</div>
		</div>
	</div>
	<div elem="button">
		<a href="#" class="button">Оставить отзыв</a>
	</div>
</div>