.b-reviews
    
    &__title
        text-align center
        color #ff9803
        font-family "Tobi Dirt Black"
        font-size 35px
        font-weight 400
        text-transform uppercase
        margin-bottom 93px
        
    &__container
        margin-left -15px
        margin-right -15px
        justify-content center
        margin-bottom 40px
        display flex
        flex-wrap wrap
        flex-direction row
        
    &__item 
        padding 0 15px 0
        width 29%
    &__item-in  
        background #fff
        border-radius 5px
        position relative
        padding 80px 20px 113px
        text-align center
        height 100%
        &:after
            content ""
            position absolute
            left 0
            bottom 0
            right 0
            height 94px
            background url(../img/rev-bg.png) 0 100% no-repeat

    &__image
        position absolute
        left 50%
        margin-left -57px
        top -57px
        padding 10px
        background url(../img/pattern.png) 0 0 repeat
        border-radius 100px
        
    &__stars
        display flex
        justify-content center
        margin-bottom 25px
        span
            margin 0 3px
            width 21px
            height 20px
            &.is-active
                img
                    -webkit-filter grayscale(0)
                    -moz-filter grayscale(0)
                    -ms-filter grayscale(0)
                    -o-filter grayscale(0)
                    filter grayscale(0)              
                    filter none
            img 
                max-width 100%
                -webkit-filter grayscale(100%)
                -moz-filter grayscale(100%)
                -ms-filter grayscale(100%)
                -o-filter grayscale(100%)
                filter grayscale(100%)              
                filter gray
                
    &__name
        color #039f27
        font-family "Tobi Dirt Black"
        font-size 20px
        font-weight 400
        line-height 23px
        margin-bottom 3px
        
    &__sity
        color #ff9803
        font-size 14px
        font-weight 500
        line-height 19px
        
    &__text
        padding 22px 0 0
        font-size 14px
        font-weight bold
        line-height 19px
        
    &__button
        text-align center
        a 
            display inline-block
            padding 12px 52px
            border-radius 27px
            background #ff7800 url(../img/pattern2.png) 0 0 repeat
            color #ffffff
            font-family "Tobi Dirt Black"
            font-size 20px
            font-weight 400
            text-transform uppercase
            text-decoration none
            &:hover
                background-color lighten(#ff7800, 8%)
            &:active
                box-shadow inset 0 1px 2px rgba(0,0,0,0.30)
                background-color darken(#ff7800, 10%)
    @media (max-width 768px) 
        &__title
            font-size 25px
        
    @media (max-width 860px) 
        &__item
            width 33%
    @media (max-width 640px) 
        &__item
            padding-left 10px
            padding-right 10px
            
    @media (max-width 580px) 
        &__container
            margin-left 0
            margin-right 0
            
        &__item
            margin-bottom 110px
            width 100%
            max-width 291px
            padding-left 0 
            padding-right 0 
            &:last-child
                margin-bottom 30px